<!DOCTYPE html>
<html ng-app='modalviews'>


<head>
    <title> Uscore</title>
    <link rel = "stylesheet" href = "static/bootstrap.css" type = "text/css">
    
    <script src="static/bootstrap.js"></script>
    
    
   
    <style>
    .nav1 {
        line-height:auto;
        cursor: pointer;
    }
    </style>
    
     
   
  
</head>


<body>
    <div class="span12" style="background-color:">
        <!-- left column -->
        <div class="span2 nav1"  style="background-color:#EFEFEF">
            <!-- list of options -->

                <div id="myModal" class="modal hide fade">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Modal header</h3>
                  </div>
                  <div class="modal-body">
                    <p>One fine body…</p>
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="btn">Close</a>
                    <a href="#" class="btn btn-primary">Save changes</a>
                  </div>
                </div>
                <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>

            <ul style="padding:45px 0px 10px 5px">

                <!-- modals for this page -->

                <!-- admin modal for the page -->



                <div ng-controller="addManagerModal">
                    <script type="text/ng-template" id="addManager.html">
                        <div class="modal-header">
                            <h3>I'm a modal!'</h3>
                        </div>
                        <div class="modal-body"  >
                            <label>Enter the name of the managers</label>
                            
                            <textarea type="text" name ="toBeManagers" style="width:400px;"  ></textarea><BR>
                            <button class="btn btn-primary"><i class="plus">Add</button>

                        </div>
                        <div class="modal-footer" >
                            <button class="btn btn-primary" ng-click="ok()">Save</button>
                            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>

                    <a ng-click="open()">Add Manager</a>
                </div>

                <!-- see request option -->

                <a href=""> See request</a>





                <!-- Add Team Leader for the page -->
                <div ng-controller="addCaptainModal">
                    <script type="text/ng-template" id="addCaptain.html">
                        <div class="modal-header">
                            <h3>Add Captain</h3>
                        </div>
                        <div class="modal-body">
                            <label>Add the names of captain</label>
                            <textarea type="text" name ="toBeCaptains" style="width:400px;"  ></textarea><BR>
                            <button class="btn btn-primary"><i class="plus">Add</button>


                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">Save</button>
                            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>

                    <a ng-click="open()">Add Captain</a>
                </div>


                <!-- Add members directly -->
                <div ng-controller="addDirectModal">
                    <script type="text/ng-template" id="addDirect.html">
                        <div class="modal-header">
                        <h3>Add members Direct </h3>
                        </div>
                        <div class="modal-body">
                        <label>Add the names of the attendes</label>

                        <textarea type="text" name ="toBeManagers" style="width:400px;"  ></textarea><BR>
                        <button class="btn btn-primary"><i class="plus">Add</button>


                        </div>
                        <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">Save</button>
                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>

                    <a ng-click="open()">Add direct</a>
                </div>

                <!-- Ban the following managers -->
                <div ng-controller="banManagerModal">
                    <script type="text/ng-template" id="banManager.html">
                        <div class="modal-header">
                        <h3>I'm a modal!'</h3>
                        </div>
                        <div class="modal-body">
                        <label>Ban these managers !</label>


                        </div>
                        <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>

                    <a ng-click="open()">Ban Manager</a>
                </div>

            </ul>

        </div>

        <!-- center area -->
        <div class="span9 nav1" style="background-color:">
            <form class="form-horizontal" style="padding:45px 0px 10px 5px">
                <label>Event Name</label> 
                <input type="text" name="eventName"placeholder="Enter the name of event"/><br/><br/>

                <label>Your Event url</label> 
                <input type="url" name="eventName"placeholder="Enter g+ url of event"/><br/><br/>

                <label>Event Description</label> 
                <textarea  name="eventName"placeholder="Enter the event Description"></textarea><br><br>

                <label>Enter the date</label> 
                <input type="date" name="eventName"placeholder="choose the start date for event"/> to <input type="date" name="eventName"placeholder="Choose the end date for the event"/><br/><br/>

                <label>Location of Event </label> 
                <input type="text" name="eventName"placeholder="Enter the location for the event"/><br/><br/>


            </form>

            
        </div>

    </div>





    
    
</body>

</html>
