{% import 'macro/error.html' as forms %}

<!-- Send Message Modal -->
<div class="modal hide fade" id="add-invite-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>  </h3>
  </div>
  <div class="modal-body" id="dt_example">

    
    
  <ul class="nav nav-pills">
    <li class="active"><a href="#inviteall" data-toggle="tab">Invite All</a></li>
    <li><a href="#addindividual" data-toggle="tab">Invite Individual</a></li>
  </ul>
    
  <div class="tab-content">
    <div class="tab-pane active" id="inviteall">
      <form name="invite" data-bind="submit: inviteUser">

            <div class="container" id="demo">
      <table cellpadding="0" cellspacing="0" border="0" class="table" id="inviteUser" width="100%">
        <thead>
          <tr>
            <th><input type="checkbox" data-bind="checked: allSelected" /> Select</th>
            <th>Name</th>
            <th>Email</th>
            <!-- <th>About User</th> -->
            
          </tr>
        </thead>
        <tbody data-bind="foreach: users, visible: users().length > 0">
                  
                    <tr>
                    <td><input type="checkbox" /></td>
                    <td data-bind="text: uname"></td> 
                    <td data-bind="text: email"></td> 
                    <!-- <td data-bind="text: about_me"></td> -->
                    </tr>
        </tbody>
        
        <tfoot>
          <tr>
            <th><input type="checkbox" data-bind="checked: allSelected" /> Select</th>
            <th>Name</th>
            <th>Email</th>
            <!-- <th>About User</th> -->
            
          </tr>
          </tfoot>
        </table>
      </div>
          </div>

      
      </form>
    <div class="tab-pane" id="addindividual">
      <form  action="{{ url_for('event_profile', ename=events.name , eid= eid) }}" class="navbar-form form-inline" method="post" id="invite_individualform">
    {{ inviteform.csrf_token }}
        <fieldset>
          {{ inviteform.hidden_tag() }}
            

            {% from "macro/_formhelpers.html" import render_field %}
            <div class="control-group">
                
                  <div class="controls">
                        {{ inviteform.invite_to.label }}
                        
                        {{ inviteform.invite_to(id='invite_to',class='form-control required ',placeholder="Event Name", autocomplete=True, **{'data-provide': 'typeahead'} )}}
                        {% if inviteform.invite_to.errors %}
                        <ul class="errors">
                            {% for error in inviteform.invite_to.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
            </div>

            <div class="control-group">
                
                  <div class="controls">
                        {{ inviteform.invite_email.label }}                        
                        
                        {{ inviteform.invite_email(id='invite_email',class=' required ',placeholder="Email", autocomplete=True )}}
                        {% if inviteform.invite_email.errors %}
                        <ul class="errors">
                            {% for error in inviteform.invite_email.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
            </div>

            <div class="control-group">
                
                  <div class="controls">
                                                
                        {{ inviteform.invitation_message.label }}
                        {{ inviteform.invitation_message(id='invitation_message',class='form-control required ',placeholder="Your Message", autocomplete=True )}}
                        {% if inviteform.invitation_message.errors %}
                        <ul class="errors">
                            {% for error in inviteform.invitation_message.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
            </div>

            <div class="control-group">
              <div class="controls">
                <a href="#" class="btn" class="close" data-dismiss="modal">Close</a>
                <button type="submit" id="send_message" class="btn btn-primary" data-loading-text="Sending...">Send Invite</button>
              </div>
            </div>
          </fieldset>
        </form>

    </div>
  </div>


  </div>
  <div class="modal-footer">
    
    
  </div>
  

</div>

<div>


