{% import 'macro/error.html' as forms %}

{% block style_block %}
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-select.css') }}" rel="stylesheet" />
{% endblock %}

<!-- Send Message Modal -->
<div class="modal hide fade" id="add-invite-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>  </h3>
  </div>
  <div class="modal-body">

      <select class="selectpicker" data-live-search="true" multiple>
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
        
    </select>
      
      <form  name="invite" data-bind="submit: inviteUser" method="post">
        <fieldset>
          {{ inviteform.hidden_tag() }}
            

            {% from "macro/_formhelpers.html" import render_field %}
            <div class="control-group">
                  
                  <div class="controls" align="center">
                        <select class="span6" data-bind="selectPicker: selectPicking, selectPickerOptions: { options: users, optionsText: 'uname', value: selectedUser, optionsValue: 'uuid'  }" data-live-search="true" multiple="true"></select>
                  </div>

                    
            </div>

            

            <div class="control-group">
                
                  <div class="controls" align="center">
                                                
                        
                        {{ inviteform.invitation_message(id='invitation_message',class='form-control span6 required ',placeholder="Your Message", autocomplete=True )}}
                        {% if inviteform.invitation_message.errors %}
                        <ul class="errors">
                            {% for error in inviteform.invitation_message.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
            </div>

            <div class="control-group">
              <div class="controls" align="center">
                <a href="#" class="btn" class="close" data-dismiss="modal">Close</a>
                <button type="submit" id="send_message" class="btn btn-primary" data-loading-text="Sending...">Send Invite</button>
              </div>
            </div>
          </fieldset>
      
        
      
      </form>
    

    
  


  
  <div class="modal-footer">
    
    
  </div>
  

</div>

<div>

{% block tail_script %}

  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-buttons.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-select.js') }}"></script>
  <script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  $(document).ready(function () {
    $('.selectpicker').selectpicker();
  });
  </script>

{% endblock %}
