{% extends 'base.html' %}
{% block title %} Register Your Team | {{ename}} | Eventus {% endblock %}
{% block style_block %}
  
  <style type="text/css">
    .background {
       background-color: #F3F3F3;
      }
    p.error {
        color: red;
    }
  </style>
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-select.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div class="span3">
    </div>
        
    <div class="container span6">
    
    <form id="add_members" data-bind="submit: addTeamMembers" class="navbar-form form-inline" method="post" >

    <select id="selectUsers" data-bind="selectPicker: selectPicking, selectPickerOptions: { options: allusers, optionsText: 'uname', value: selectedUser, optionsValue: 'uuid' }" data-live-search="true"  multiple="true" ></select>

    <div class="control-group form-actions">
        <div class="controls" >
            <br><button type="submit" id="register" name="teamName" value"teamName" class="btn btn-primary">Add Team Members</button><br><br>
                    
        </div>
    </div>

    </form>

                
   </div> 
    
   <div class="span3">
   </div>

{% block tail_script %}

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-formhelpers.min.js') }}"></script>

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-buttons.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/jquery.validate.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/additional-methods.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-select.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-switch.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-typeahead.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-fileupload.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-combobox.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/knockout.validation.js') }}"></script>

<script type="text/javascript">
 $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
 // This is a simple *viewmodel* - JavaScript that defines the data and behavior of your UI

$(document).ready(function () {

      

    (function () {
        MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
        if (!MutationObserver) return;
        console.log ("running select picker init");
        $('.selectpicker').selectpicker();
        var observer = new MutationObserver(function (mutation, observer) {
            console.log("In mutation observer:",mutation,observer);
            $('.selectpicker').selectpicker('refresh');
        });
        observer.observe($(".selectpicker")[0], 
                         {
                             subtree:true,
                             attributes:true,
                             attributeFilter: ['value', 'disabled']
                         });
    })();
});

ko.bindingHandlers.selectPicker = {
        init: function (element, valueAccessor, allBindingsAccessor) {
            if ($(element).is('select')) {
                if (ko.isObservable(valueAccessor())) {
                    if ($(element).prop('multiple') && $.isArray(ko.utils.unwrapObservable(valueAccessor()))) {
                        // in the case of a multiple select where the valueAccessor() is an observableArray, call the default Knockout selectedOptions binding
                        ko.bindingHandlers.selectedOptions.init(element, valueAccessor, allBindingsAccessor);
                    }
                    else {
                        // regular select and observable so call the default value binding
                        ko.bindingHandlers.value.init(element, valueAccessor, allBindingsAccessor);
                    }
                }
                $(element).addClass('selectpicker').selectpicker();
            }
        },
        update: function (element, valueAccessor, allBindingsAccessor) {
            if ($(element).is('select')) {
                var selectPickerOptions = allBindingsAccessor().selectPickerOptions;
                if (typeof selectPickerOptions !== 'undefined' && selectPickerOptions !== null) {
                    var options = selectPickerOptions.options,
                        optionsText = selectPickerOptions.optionsText,
                        optionsValue = selectPickerOptions.optionsValue,
                        optionsCaption = selectPickerOptions.optionsCaption,
                        isDisabled = selectPickerOptions.disabledCondition || false,
                        resetOnDisabled = selectPickerOptions.resetOnDisabled || false;
                        
                    if (ko.utils.unwrapObservable(options).length > 0) {
                        // call the default Knockout options binding
                        ko.bindingHandlers.options.update(element, options, ko.observable({ optionsText: optionsText, optionsValue: optionsValue, optionsCaption: optionsCaption }));
                    }
                    if (isDisabled && resetOnDisabled) {
                        // the dropdown is disabled and we need to reset it to its first option
                        $(element).selectpicker('val', $(element).children('option:first').val());
                    }
                    $(element).prop('disabled', isDisabled);
                }
                if (ko.isObservable(valueAccessor())) {
                    if ($(element).prop('multiple') && $.isArray(ko.utils.unwrapObservable(valueAccessor()))) {
                        // in the case of a multiple select where the valueAccessor() is an observableArray, call the default Knockout selectedOptions binding
                        ko.bindingHandlers.selectedOptions.update(element, valueAccessor);
                    }
                    else {
                        // call the default Knockout value binding
                        ko.bindingHandlers.value.update(element, valueAccessor);
                    }
                }

                $(element).selectpicker('refresh');
            }
        }
    };

function AllUsers(data){
        this.about_me = ko.observable(data.about_me);
        this.email = ko.observable(data.email);
        this.uname = ko.observable(data.uname);
        this.uuid = ko.observable(data.uuid);
        this.everyuser = [
        {aboutMe: this.about_me(), email: this.email(), name: this.uname, id: this.uuid()}
        ]

}

function Member(data, name, email) {
    var self = this;

    self.member = ko.observable(name);
    self.email = ko.observable(email);

}

function Members(data, memid) {
    var self = this;

    self.selectedUser = ko.observable(memid);

}


function TeamViewModel() {
    var self = this;
    self.teams = ko.observableArray([]);
    self.teamName = ko.observable();
    self.captain = ko.observable();
    self.member = ko.observable();
    self.email = ko.observable();
    self.selectedUser = ko.observable();
    self.members = ko.observableArray([]);
    // self.members.push(new Member(self.captain(), self.email()));
    self.selectPicking = ko.observableArray([]);
    self.allusers = ko.observableArray([]);

    $.getJSON('/users', function (json) {
        var t = $.map(json.users, function(item) {
            console.log("Something",item);
            
            return new AllUsers(item);
        });
        self.allusers(t);
    });
       
    self.addMembers = function() {
        self.save();
        self.members([]);
        
        
    };

    self.addTeamMembers = function() {
        self.saveTeam();
        self.selectPicking([]);
        
        
    };


    self.addMember = function() { 
        self.members.push(new Member(self.member(), self.email()));
        
    };

    

    self.removeMember = function(member) { self.members.remove(member) }

    
    

    self.save = function() {
        return $.ajax({
            url: '/events/{{ename}}/{{eid}}/teams/{{teamName}}/{{tid}}/addMembers',
            contentType: 'application/json',
            type: 'POST',
            data: ko.toJSON({

                'members': self.members() ,
                      
                
            }),
            success: function(data) {
                console.log("Entered to Flask View");
                return;
            },
            error: function() {
                return console.log("Failed");
            }
        });
    };


    self.saveTeam = function() {
        return $.ajax({
            url: '/events/{{ename}}/{{eid}}/teams/{{teamName}}/{{tid}}/addMembers',
            contentType: 'application/json',
            type: 'POST',
            data: ko.toJSON({

                'members': self.selectPicking() ,
                      
                
            }),
            success: function(data) {
                console.log("Entered to Flask View");
                return;
            },
            error: function() {
                return console.log("Failed");
            }
        });
    };

    
}



ko.applyBindings(new TeamViewModel());


</script>

{% endblock %}


{% endblock %}