{% extends 'base.html' %}
{% import 'macro/error.html' as forms %}
{% block title %} Create a New Event | Eventus {% endblock %}
{% block style_block %}
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-select.css') }}" rel="stylesheet">
  <style type="text/css">
    .background {
       background-color: #F3F3F3;
      }
    p.error {
        color: red;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="span3">
        </div>
    <div class="span6">
    <form action="{{ url_for('create_event') }}" class="navbar-form form-inline" method="post" id="create_eventform">
    {{ form.csrf_token }}
        <fieldset>
          {{ form.hidden_tag() }}
            

            {% from "macro/_formhelpers.html" import render_field %}
            <div class="control-group">
                
                  <div class="controls">
                        {{ form.name.label }}
                        
                        {{ form.name(id='ename',class='form-control required ',placeholder="Event Name", autocomplete=True )}}
                        {% if form.name.errors %}
                        <ul class="errors">
                            {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
            </div>

            <div class="control-group">
                
                  <div class="controls">
                        {{ form.event_type.label }}                        
                        
                        {{ form.event_type(id='evtype',class='selectpicker required ',placeholder="Event Name", autocomplete=True )}}
                        {% if form.event_type.errors %}
                        <ul class="errors">
                            {% for error in form.event_type.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
            </div>

            <div class="control-group">
                
                  <div class="controls">
                                                
                        {{ form.event_url.label }}
                        {{ form.event_url(id='eurl',class='form-control required ',placeholder="URL/Blog/Website", autocomplete=True )}}
                        {% if form.event_url.errors %}
                        <ul class="errors">
                            {% for error in form.event_url.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
            </div>
            
            <div class="control-group">
                
                  <div class="controls">
                        {{ form.description.label }}                        
                        
                        {{ form.description(id='edescription',class='form-control required ',placeholder="Describe your Event", autocomplete=True )}}
                        {% if form.description.errors %}
                        <ul class="errors">
                            {% for error in form.description.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
            </div>

             <div class="control-group">
                
                  <div class="controls">
                        {{ form.venue.label }}                        
                        {{ form.venue(id='evenue',class='form-control required ',placeholder="Location of your Event", autocomplete=True )}}
                        {% if form.venue.errors %}
                        <ul class="errors">
                            {% for error in form.venue.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
            </div>

            <div class="control-group">
                
                  <div class="controls">
                        {{ form.sdate.label }}                        
                        
                        {{ form.sdate(id='start_date',class='form-control required ',autocomplete=True, min="" )}}
                        {% if form.sdate.errors %}
                        <ul class="errors">
                            {% for error in form.sdate.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
            </div>

            <div class="control-group">
                
                  <div class="controls">
                        {{ form.edate.label }}                        
                        
                        {{ form.edate(id='end_date',class='required', autocomplete=True , min="")}}
                        {% if form.edate.errors %}
                        <ul class="errors">
                            {% for error in form.edate.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
            </div>

            <div class="control-group">
                
                  <div class="controls">
                        {{ form.access_type.label }}                        
                        
                        {{ form.access_type(id='actype',class='selectpicker required ',placeholder="Event Name", autocomplete=True )}}
                        {% if form.access_type.errors %}
                        <ul class="errors">
                            {% for error in form.access_type.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
            </div>


            <div class="control-group">
                    <div class="controls">
                        <button type="submit" id="event_submit" value"create_event" class="btn btn-primary" data-loading-text="Creating Event..." >Create Event</button><br><br>
                    
                    </div>
            </div>
          </fieldset>
    </form>
</div>

<div class="span3">
    </div>
</div>

{% block tail_script %}
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-buttons.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/jquery.validate.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/additional-methods.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-select.js') }}"></script>
<script type="text/javascript">
 $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
 // This is a simple *viewmodel* - JavaScript that defines the data and behavior of your UI


// Enabling Select Picker custom select fields from Bootstrap
$('.selectpicker').selectpicker();

function AppViewModel() {
    this.bodyte = ko.observable();
    this.bodytext = ko.computed(function(){
        return this.bodyte();

    }, this);
    
}

// Activates knockout.js
ko.applyBindings(new AppViewModel());

/*
var FormHelpers = {
            validate: function (form, evt) {
                // Form validation for modal dialog
                var postbody = form.find('#body').val();
                
                if (!(postbody)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#body', 'Name is required', 'right');
                }
                
            },
            init: function () {
                var self = this;
                var example_form = $('#new_postform');
                example_form.on('submit', function (evt) {
                    self.validate(example_form, evt)
                });
            }
        };
        $(document).ready(function() {
            FormHelpers.init();
        });



*/

$(document).ready(function () {



$('#create_eventform').validate({
    rules: {
        
        
    },
    highlight: function (element) {
        $(element).parent().css('border-color','red');
        $(element).text('Please type some post').closest('.control-group').removeClass('success').addClass('error');
        
    },
    success: function (element) {
        element.text('OK!').addClass('valid')
            .closest('.control-group').removeClass('error').addClass('success');
    }

    
});
});


</script>

{% endblock %}


{% endblock %}
