
{% extends 'base.html' %}
{% block title %} Create an Event | Eventus {% endblock %}
{% block style_block %}
	<link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='bootstrap/css/social-buttons.css') }}" rel="stylesheet">
	<style type="text/css">
		.background {
			 background-color: #F3F3F3;
			}
	
	</style>
{% endblock %}
{% block content %}
	
	<div class="container theme-showcase">
	<div class="row">
	
		
		
		
  		
	</div>
	<hr>

{% endblock %}
