
{% extends 'base.html' %}
{% block title %} Edit Profile | Eventus {% endblock %}
{% block style_block %}
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-22043294-2', 'gcdc2013-eventus.appspot.com');
      ga('send', 'pageview');

    </script>
    <!-- End Google Analytics -->
	
	<style type="text/css">
		.background {
			 background-color: #F3F3F3;
			}
	
	</style>
{% endblock %}
{% block content %}
    <div class="span3">
    </div>
    
    
    <div class="span4">
    <h2>Settings</h2>
	<form id="usersettings_form" action="{{ url_for('user_profile_settings', name=g.user.name, uid=g.user.id) }}" method="post">
        <fieldset>
	{{ userSettings.csrf_token }}
    {{ userSettings.hidden_tag() }}
	<legend>General</legend>
        <div class="container">
        <div class="control-group">
                
                  <div class="controls">
                        {{ userSettings.location.label }}
                        
                        {{ userSettings.location(id='location',class='form-control required ',placeholder="Where you live", autocomplete=True )}}
                        {% if userSettings.location.errors %}
                        <ul class="errors">
                            {% for error in userSettings.location.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
        </div>

        <div class="control-group">
                
                  <div class="controls">
                        {{ userSettings.about.label }}
                        
                        {{ userSettings.about(id='about',class='form-control required ',placeholder="Say something about you", autocomplete=True )}}
                        {% if userSettings.about.errors %}
                        <ul class="errors">
                            {% for error in userSettings.about.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
        </div>
    </div>
        

	<legend>Social Profile</legend>
        <div class="container">
		<div class="control-group">
                
                  <div class="controls">
                        {{ userSettings.google_plusId.label }}
                        
                        {{ userSettings.google_plusId(id='gplus',class='form-control required ',placeholder="Your Google + Profile URL", autocomplete=True )}}
                        {% if userSettings.google_plusId.errors %}
                        <ul class="errors">
                            {% for error in userSettings.google_plusId.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
        </div>
        <div class="control-group">
                
                  <div class="controls">
                        {{ userSettings.facebookId.label }}
                        
                        {{ userSettings.facebookId(id='facebook',class='form-control required ',placeholder="Your Facebook Profile URL", autocomplete=True )}}
                        {% if userSettings.facebookId.errors %}
                        <ul class="errors">
                            {% for error in userSettings.facebookId.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
        </div>
        <div class="control-group">
                
                  <div class="controls">
                        {{ userSettings.twitterId.label }}
                        
                        {{ userSettings.twitterId(id='twitter',class='form-control required ',placeholder="Your Twitter Profile URL", autocomplete=True )}}
                        {% if userSettings.twitterId.errors %}
                        <ul class="errors">
                            {% for error in userSettings.twitterId.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
        </div>
        </div>
        <br><br>
        <center>
        <div class="form-actions">
        <button id="usersettings" class="btn btn-primary" type="submit">Save Changes</button>
        </div>
        </center>

    </fieldset>
</form>
</div>
<div class="span5">
</div>

{% block tail_script %}
<script src="{{ url_for('static', filename='bootstrap/js/jquery.validate.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/additional-methods.js') }}"></script>
<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$(document).ready(function () {



$('#usersettings_form').validate({
    rules: {
        
        
    },
    highlight: function (element) {
        $(element).parent().css('border-color','red');
        $(element).text('Please type some post').closest('.control-group').removeClass('success').addClass('error');
        
    },
    success: function (element) {
        element.addClass('valid')
            .closest('.control-group').removeClass('error').addClass('success');
    }

    
});

});
</script>
{% endblock %}


{% endblock %}
