
{% extends 'base.html' %}
{% block title %} Event Profile | Eventus {% endblock %}
{% block style_block %}
	
	<style type="text/css">
		.background {
			 background-color: #F3F3F3;
			}
	
	</style>
{% endblock %}
{% block content %}
  <div class="container well-inverse">
	<h2>{{events.name}}</h2>
	<h3>{{events.description}}</h2>
	<h4>{{events.creator.string_id()}}</h4>
	<h4>{{events.venue}}</h4>
  </div>
<div class="row">
	<div class="span3">
		<div class="well-inverse">
        {% if events.event_type == 'Team Event' %}
        <a class="btn btn-sidebar btn-block">Register Your Team</a>
        <a class="btn btn-sidebar btn-block" href="" >Team Settings</a><br>
        {% endif %}
        </div>
	</div>
	<div class="span6">
		<h3><i class="icon-comments"></i> Comments</h3> 
		<form id="comment_form" class="navbar-form form-inline"  data-bind="submit: addComment" method="post">
		{{ form.csrf_token }}
		<fieldset>
			{{ form.hidden_tag() }}
			<div class="control-group">
                <p>{{ form.comment.label }}</p>
                  <div class="controls">

                        <p>
                        {{ form.comment(id='comment',class='form-horizontal full-width required ',placeholder="Please post your Comment Here", style="width: 500px;", autocomplete=True, **{'data-bind': 'value:  comment', 'data-required' : 'true'})}}</p>
                        {% if form.comment.errors %}
                        <ul class="errors">
                            {% for error in form.comment.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    	
                    </div>

                    
            </div>
            <div class="control-group">
                    <div class="controls">
                        <button type="submit" id="event_comment" value="event_comment" class="btn btn-success" data-loading-text="Posting Comment...." >Add Comment</button><br><br>
                    
                    </div>
            </div>

		</fieldset>

		</form>

	<ul data-bind="foreach: comments, visible: comments().length > 0">
        <div class="well-inverse">
            <p data-bind="text: comment"></p>
            <p data-bind="text: name"></p>
        </div>
    </ul>
    
    {% for comments in comments_store %}
    <ul>
        <div class="well-inverse">
        	{% if comments.user_id.integer_id() == current_user.id and comments.event_id.integer_id() == eid %}
            	<p>{{ comments.comment }}</p>
            	<p>{{ comments.name.string_id() }}</p>
            {% endif %}
        </div>
    </ul>
    {% endfor %}
	
	
	</div>
	<div class="span3">
        
	</div>
	
</div>


{% block tail_script %}
<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$(document).ready(function () {

$('#comment_form').validate({
    rules: {
        
        
    },
    
    highlight: function (element) {
        $(element).closest('control-group').removeClass('success').addClass('error');
    },
    success: function (element) {
        element.text('OK!').addClass('valid')
            .closest('.control-group').removeClass('error').addClass('success');
    }
});
});


// Knockoutjs Comment Code

function Comment(data) {
    this.comment = ko.observable(data.comment);
    
    
}



function CommentViewModel() {
    var self = this;
    self.comments = ko.observableArray([]);
    self.comment = ko.observable();
    
    
    
       
    self.addComment = function() {
        if ( self.comment() != ""){
            self.save();
        }
        self.comment("");
        
        
    };

    $.getJSON('/comments', function(commentModels) {
        var t = $.map(commentModels.comments, function(item) {
            return new Comment(item);
        });
        self.comments(t);
    });

    self.save = function() {
        return $.ajax({
            url: "{{ url_for('event_profile', ename = ename , eid = eid ) }}",
            contentType: 'application/json',
            type: 'POST',
            data: JSON.stringify({
                'comment': self.comment(),
                
            }),


            success: function(data) {
                console.log("Pushing to comment array");
                self.comments.push(new Comment({ comment: data.comment }));
                return;
            },
            error: function() {
            	console.log(ename);
                return console.log("Failed");
            }
        });
    };
}


// enable validation
// ko.validation.init();

// Activates knockout.js
ko.applyBindings(new CommentViewModel());


</script>
{% endblock %}

{% endblock %}
