
{% extends 'base.html' %}
{% block title %} Event Profile | Eventus {% endblock %}
{% block style_block %}
	
	<style type="text/css">
		.background {
			 background-color: #F3F3F3;
			}
	    .modal {
        /* new custom width */
            width: 700px;
            margin-left: -375px;
         
}
	</style>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/data_page.css') }}" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/data_table.css') }}" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/shCore.css') }}" /> 
{% endblock %}
{% block content %}

  <div class="container well-inverse">
    <h4 class="pull-right"><i class="icon-heart"></i> <i class="icon-facebook-sign"></i> <i class="icon-twitter-sign"></i> <i class="icon-google-plus-sign"></i></h4>
	<h2>{{events.name}}</h2>

	<h3>{{events.description}}</h2>
	<h4>{{events.creator.string_id()}}</h4>
	<h4>{{events.venue}}</h4>
    <h4><i class="icon-thumbs-up"></i> <font color="green">10</font> <i class="icon-thumbs-down"></i> <font color="red">3</font> </h4>
  </div>
<div class="row">
	<div class="span3">
		<div class="well-inverse">
        {% if events.event_type == 'Team Event' %}
        <a class="btn btn-sidebar btn-block" >Register Your Team</a>
        <a class="btn btn-sidebar btn-block" href="" >Team Settings</a>
        
        {% endif %}
        {% if events.creator_id == current_user.id %}
        <a class="btn btn-sidebar btn-block" href="#add-invite-modal" data-toggle="modal" >Add or Invite User</a>
        {% endif %}
        <hr>

        <ul class="nav nav-tabs">
            <li class="active">
            <a href="#invited" data-toggle="tab">Invited</a>
            </li>
            <li>
            <a href="#coming" data-toggle="tab">Coming</a>
            </li>
            <li><a href="#notcoming" data-toggle="tab">Not Coming</a>
            </li>
        </ul>
        </div>
	</div>
	<div class="span6">
		<h3><i class="icon-comments"></i> Comments</h3> 
		<form id="comment_form" class="navbar-form form-inline"  data-bind="submit: addComment" method="post">
		{{ form.csrf_token }}
		<fieldset>
			{{ form.hidden_tag() }}
			<div class="control-group">
                <p>{{ form.comment.label }}</p>
                  <div class="controls">

                        <p>
                        {{ form.comment(id='comment',class='form-horizontal full-width required ',placeholder="Please post your Comment Here", style="width: 500px;", autocomplete=True, **{'data-bind': 'value:  comment', 'data-required' : 'true' })}}</p>
                        {% if form.comment.errors %}
                        <ul class="errors">
                            {% for error in form.comment.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    	
                    </div>

                    
            </div>
            <div class="control-group">
                    <div class="controls">
                        <button type="submit" id="event_comment" value="event_comment" class="btn btn-success" data-loading-text="Posting Comment...." >Add Comment</button><br><br>
                    
                    </div>
            </div>

		</fieldset>

		</form>

	<ul data-bind="foreach: comments, visible: comments().length > 0">
        <div class="well-inverse">
            <!-- data-bind="attr: { href: commentBy , name: name , uid: uid }" -->

            <p data-bind="text: comment"></p>
            <a data-bind="attr:{ href:  '{{ url_for('index')}}' }"><p data-bind="text: cname"></p></a>
            <p data-bind="text: cid"></p>

        </div>
    </ul>
    
    

    {% include 'add_inviteModal.html' %}
	
	
	</div>
	<div class="span2">
        
	</div>
	
</div>


{% block tail_script %}
<script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap-typeahead.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap/js/shCore.js') }}"></script>

<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$(document).ready(function () {
    $('#inviteUser').dataTable();
});



// Knockoutjs Comment Code

function Comment(data) {
    this.comment = ko.observable(data.comment);
    this.name = ko.observable(data.name);
    this.uid = ko.observable(data.uid);
   
    this.cname = this.name();
    this.cid = this.uid();
    this.commentBy = ko.observable('profile.html')
    this.getName = ko.computed(function() {
        return this.name();
    }, this);

    this.getUid = ko.computed(function() {
        return this.uid();
    }, this);
    
}

function Invite(data) {
    this.uname = ko.observable(data.uname);
    this.uuid = ko.observable(data.uuid);
    this.about_me = ko.observable(data.about_me);
    this.email = ko.observable(data.email);
    
    
}

function AddInvite(data) {
    this.inviteName = ko.observable(data.inviteName);
    this.inviteId = ko.observable(data.inviteId);
    this.inviteAbout_me = ko.observable(data.inviteAbout_me);
    this.inviteEmail = ko.observable(data.inviteEmail);
    
    
}

function CommentViewModel() {
    var self = this;
    self.users = ko.observableArray([]);
    self.userInfo = ko.observableArray([]);
    self.invites = ko.observableArray([]);
    self.comments = ko.observableArray([]);
    self.comment = ko.observable();
    self.allSelected= ko.observable(false);
    
    
    self.selectAll = function() {
        var all = self.allSelected();
        ko.utils.arrayForEach(self.users(), function(user) {
           user.isSelected(!all); 
        });
        return true;
    }       
    
    self.inviteUser = function() {
        self.invites.push(new AddInvite({ title: this.newTaskText() }));
               
        
    };
       
    self.addComment = function() {
        if ( self.comment() != ""){
            self.save();
        }
        self.comment("");
        
        
    };

    $.getJSON("{{ url_for('all_event_comments', eid=eid ) }}", function(commentModels) {
        var t = $.map(commentModels.comments, function(item) {
            return new Comment(item);

        });
        self.comments(t);

    });

    $.getJSON('/users', function(invitationModels) {
        var t = $.map(invitationModels.users, function(item) {
            console.log("Something",item);
            return new Invite(item);
        });
        self.users(t);
    });

    self.save = function() {
        return $.ajax({
            url: "{{ url_for('event_profile', ename = ename , eid = eid ) }}",
            contentType: 'application/json',
            type: 'POST',
            data: JSON.stringify({
                'comment': self.comment(),
                'name' : "{{current_user.name}}",
                'uid' : "{{current_user.id}}",
            }),


            success: function(data) {
                console.log("Pushing to comment array");
                self.comments.push(new Comment({ comment: data.comment, name: data.name, uid: data.uid }));
                return;
            },
            error: function() {
            	console.log(ename);
                return console.log("Failed");
            }
        });
    };
}



// enable validation
// ko.validation.init();

// Activates knockout.js
ko.applyBindings(new CommentViewModel());


$('#inviteTo').typeahead({
        source: users,
        
});

</script>
{% endblock %}

{% endblock %}
