{% extends "base.html" %}

{% block title %} Event Profile | Eventus {% endblock %}

{% block style_block %}
	
	<style type="text/css">
		.background {
			 background-color: #F3F3F3;
			}
	    .modal {
        /* new custom width */
            width: 700px;
            margin-left: -375px;
         
		}
		.eventName{
		  /* line-height to vertically center: http://phrogz.net/css/vertical-align/index.html */
		  height: 40px;
		  line-height: 40px;
		}


		.navigation, .pitch, .section1, .section2, .faq, .footer {
        padding: 10px 0px 10px 0px;
      }
      .video, .eventLogo, .eventName, .social {
        /*border: 1px dotted;*/
        text-align: left;
      }
      .video {
        /* Internal beventNames have 1px width, thus need to add 4 x 1px to 120px. */
        height: 230px;
        line-height: 124px;
      }
      .eventLogo, .eventName, .social {
        /* line-height to vertically center: http://phrogz.net/css/vertical-align/index.html */
        height: 115px;
        line-height: 40px;
      }
      .eventContent {
      	height:auto;
      }
      .teamPic {
      	border-radius: 100%;  	
      	width: 60px;
      }

      .event-page-canvas {

      	webkit-box-sizing: border-box;
      	box-sizing: border-box;
      	-webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);
      	box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);;
      	background-color:#f9faf7; 
      	border-radius: 1px;
      	-webkit-border-radius: 1px;
      	padding: 30px 20px 48px 30px;
      	width: 100%;
      	height: 100%;


      }

	</style>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/data_page.css') }}" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/data_table.css') }}" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/shCore.css') }}" /> 
{% endblock %}

{% block content %}

<div id="fullEventPage" class="event-page-canvas">
<div class = "row">
  
    <div class="span6">
      <div class="eventLogo">
        <img src="{{ url_for('static', filename='img/celebrate1.jpg') }}" style="width:100px;padding:10px 0px 10px 20px;"> 
        Logo Title
      </div>
      <div class="eventName">
        <h1> {{events.name}}</h1>
        
        <div style="float:left;"> <h4 class="pull-right"><i class="icon-heart"></i> <i class="icon-facebook-sign"></i> <i class="icon-twitter-sign"></i> <i class="icon-google-plus-sign"></i></h4>
        </div>


      </div>
     
    </div>
    <div class="span1"></div>

    <div class="span5">
    	<div class="video" >
        <iframe width="410px" height="230px"
        src="http://www.youtube.com/embed/RjoSN595F0E" alternate="nothing">
        </iframe>
    	

    	 </div>
    </div>
</div>
<hr style="clear:both;">
<div class="row">
	<div class="span12">
  
		<div class="span3">

					<div class="well-inverse">

			        {% if events.event_type == 'Team Event' %}
              <a class="btn btn-sidebar btn-block" href="{{ url_for('RegisterTeam', ename=ename,eid=eid )}}" >Register Your Team</a>
              
			        <a class="btn btn-sidebar btn-block" href="" >Team Settings</a>
			        
			        {% endif %}
              {% if events.creator_id == current_user.id %}
			        <a class="btn btn-sidebar btn-block" href="#add-invite-modal" data-toggle="modal" >Add or Invite User</a>
              {% endif %}
			        <!-- well inverse end -->
		      </div>
          <!-- span3 for buttons end -->
	  </div>
    <div class="span2">
      <div class="well-inverse">
        <label> From : </label> 
        <label> To : </label>

      </div>

    </div>
    <div class="span3">
      <div class="well-inverse">
        <h4>Contact Information</h4>
        Mobile Number: 9809908890
        Email Id: contactme@gmail.com
      </div>

    </div>

</div>

<hr style="clear:both;">
<!-- About event contents -->
<div class="row eventContent">

  <div class="span6" style="padding-left: 30px;">
	<h3>About the Event</h3>
	<p style ="text-align:justify;">

    {{events.description}}<br><br>

		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia euismod elit ut laoreet. Cras ut molestie diam, ut viverra eros. Maecenas et massa ut quam venenatis hendrerit nec accumsan quam. Etiam vel tortor gravida, euismod felis a, pellentesque lectus. Suspendisse potenti. Ut aliquam purus a erat congue rhoncus. Pellentesque at aliquet nisl. Nullam placerat, augue vitae lacinia ullamcorper, eros elit aliquet felis, vel ullamcorper risus lacus ut turpis. Nunc a sagittis odio. Nunc elementum tempus diam et bibendum.
	</p>
	<p style ="text-align:justify;">

		Nullam cursus venenatis commodo. Praesent feugiat massa quis neque ullamcorper dictum. Vestibulum feugiat nisl eget lacus imperdiet, quis tincidunt turpis feugiat. Mauris eleifend nisi vitae elit luctus, non dapibus tortor vestibulum. Ut pulvinar pharetra velit et luctus. Etiam magna nulla, interdum eu velit et, vulputate gravida libero. Mauris interdum nulla odio, quis consectetur leo sagittis sit amet. Nulla facilisi.
	</p>
	<p style ="text-align:justify; line-height:25px;">

		Nunc sollicitudin pretium risus, sed elementum augue tempor tincidunt. Vivamus eget tellus fermentum, condimentum purus malesuada, rutrum magna. Suspendisse in pellentesque turpis, nec tincidunt ligula. Curabitur erat felis, cursus et lectus nec, rutrum dictum lorem. Maecenas condimentum feugiat elit, non tempor massa ultrices vel. Aliquam lobortis hendrerit iaculis. Fusce aliquet scelerisque aliquet. Pellentesque rutrum eu arcu ut placerat. Sed eleifend sapien in lectus blandit, eget lobortis sem ultrices. Etiam aliquet turpis sit amet fringilla malesuada. Fusce semper nunc non dictum convallis. Phasellus vel porta urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur lacinia vehicula iaculis. Aenean consectetur sit amet arcu at pharetra.

	</p>
  </div>
<!-- span6 ended -->

<!-- extra span1 for space -->
  <div class="span1"></div>

<!-- span4 for venue and teams  -->
  <div class="span4" style="padding: 30px 20px 48px 30px;">
  	<div class="row">
      <h3> Venue </h3>
  		<div class="span3 venue"> <a href="#">
         

      Venue: {{events.venue}},
  		{{events.address}}, {{events.postal}}
  		{{events.city}} ({{events.state}}), {{events.country}}
  	</a>

  		</div>
      <!-- div : span3 venue ended -->
  		<div class="span3 aboutTeams"> 
  			<br>
        <h3> Created By  </h3>


        <img src="event_list.creator.string_id().avatar(90)" class="teamPic"> <a href="/user/{{ events.creator.string_id() }}/{{ events.creator_id }}/"> {{events.creator.string_id()}}</a>
        {% if events.event_type == "Team Event" %}
        <h3>Teams</h3>
        {% for team in teams %}
          <img src="" class="teamPic"/>
          <a href="">{{team.teamName}}</a>

        {% endfor %}
        {% endif %}
        <div class="tab-pane" id="teamguests">
        <ul class="nav nav-pills">
            <li class="active">
            <a href="#invited" data-toggle="tab">Invited</a>
            </li>
            <li>
            <a href="#coming" data-toggle="tab">Coming</a>
            </li>
            <li><a href="#notcoming" data-toggle="tab">Not Coming</a>
            </li>
        </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="invited">
                
            </div>

            <div class="tab-pane" id="coming">
                DFDF
            </div>

            <div class="tab-pane" id="notcoming">
                FDFDF
            </div>

            </div>
          </div>
        </div>
  			<!-- span3 aboutTeams end -->
  		</div>
    
    <!-- span4 inner row ended  -->
    </div>
      
  <!-- span4 ended -->
  </div>


<!-- content, eventContent row end  -->
</div>

<div class="row">
  <div class="span12">
      <div class="span6">
        <h3><i class="icon-comments"></i> Comments</h3> 
        <form id="comment_form" class="navbar-form form-inline"  data-bind="submit: addComment" method="post">
        {{ form.csrf_token }}
        <fieldset>
          {{ form.hidden_tag() }}
          <div class="control-group">
                    <p>{{ form.comment.label }}</p>
                      <div class="controls">

                            <p>
                            {{ form.comment(id='comment',class='form-horizontal full-width required ',placeholder="Please post your Comment Here", style="width: 500px;", autocomplete=True, **{'data-bind': 'value:  comment', 'data-required' : 'true' })}}</p>
                            {% if form.comment.errors %}
                            <ul class="errors">
                                {% for error in form.comment.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                          
                        </div>

                        
                </div>
                <div class="control-group">
                        <div class="controls">
                            <button type="submit" id="event_comment" value="event_comment" class="btn btn-success" data-loading-text="Posting Comment...." >Add Comment</button><br><br>
                        
                        </div>
                </div>

        </fieldset>

        </form>

      <ul data-bind="foreach: comments, visible: comments().length > 0">
            <div class="well-inverse">
                <!-- data-bind="attr: { href: commentBy , name: name , uid: uid }" -->

                <p data-bind="text: comment"></p>
                <a data-bind="attr:{ href:  '/user/' + name() + '/' + uid() + '/' }"><p data-bind="text: cname"></p></a>
                

            </div>
        </ul>
        
        

        {% include 'add_inviteModal.html' %}
      
      <input type="text" class="input-medium search-query" id="employees" data-provide="typeahead" data-items="4" autocomplete="off" ></input>
      <!-- span6 of comments ended -->
      </div>



    <!-- span12 class end -->
  </div>

<!-- row class end -->
</div>


<!-- fullEventPage  div end-->
</div>


{% block tail_script %}
<script src="{{ url_for('static', filename = 'bootstrap/js/mockjax.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap-typeahead.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap/js/demo.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap/js/shCore.js') }}"></script>

<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$(document).ready(function () {
    $('#inviteUser').dataTable();


    $(function () {


    var myjson;
    $.getJSON("{{ url_for('get_all_users') }}", function(json){
    myjson = json;
    });

    console.log(myjson);
    // Mock an AJAX request


    });
    
    

});



// Knockoutjs Comment Code

function Comment(data) {
    this.comment = ko.observable(data.comment);
    this.name = ko.observable(data.name);
    this.uid = ko.observable(data.uid);
   
    this.cname = this.name();
    this.cid = this.uid();
    this.commentBy = ko.observable('profile.html')
    this.getName = ko.computed(function() {
        return this.name();
    }, this);

    this.getUid = ko.computed(function() {
        return this.uid();
    }, this);
    
}

function Invite(data) {
    this.uname = ko.observable(data.uname);
    this.uuid = ko.observable(data.uuid);
    this.about_me = ko.observable(data.about_me);
    this.email = ko.observable(data.email);
    
    
}

function AddInvite(data) {
    this.inviteName = ko.observable(data.inviteName);
    this.inviteId = ko.observable(data.inviteId);
    this.inviteAbout_me = ko.observable(data.inviteAbout_me);
    this.inviteEmail = ko.observable(data.inviteEmail);
    
    
}

function CommentViewModel() {
    var self = this;
    self.users = ko.observableArray([]);
    self.userInfo = ko.observableArray([]);
    self.invites = ko.observableArray([]);
    self.comments = ko.observableArray([]);
    self.comment = ko.observable();
    self.allSelected= ko.observable(false);
    
    
    self.selectAll = function() {
        var all = self.allSelected();
        ko.utils.arrayForEach(self.users(), function(user) {
           user.isSelected(!all); 
        });
        return true;
    }       
    
    self.inviteUser = function() {
        self.invites.push(new AddInvite({ title: this.newTaskText() }));
               
        
    };
       
    self.addComment = function() {
        if ( self.comment() != ""){
            self.save();
        }
        self.comment("");
        
        
    };

    $.getJSON("{{ url_for('all_event_comments', eid=eid ) }}", function(commentModels) {
        var t = $.map(commentModels.comments, function(item) {
            return new Comment(item);

        });
        self.comments(t);

    });

    $.getJSON('/users', function(invitationModels) {
        var t = $.map(invitationModels.users, function(item) {
            console.log("Something",item);
            return new Invite(item);
        });
        self.users(t);
    });

    

    self.save = function() {
        return $.ajax({
            url: "{{ url_for('event_profile', ename = ename , eid = eid ) }}",
            contentType: 'application/json',
            type: 'POST',
            data: JSON.stringify({
                'comment': self.comment(),
                'name' : "{{current_user.name}}",
                'uid' : "{{current_user.id}}",
            }),


            success: function(data) {
                console.log("Pushing to comment array");
                self.comments.push(new Comment({ comment: data.comment, name: data.name, uid: data.uid }));
                return;
            },
            error: function() {
              console.log(ename);
                return console.log("Failed");
            }
        });
    };
}



// enable validation
// ko.validation.init();

// Activates knockout.js
ko.applyBindings(new CommentViewModel());




</script>
{% endblock %}

{% endblock %}