{% import 'macro/error.html' as forms %}

<!-- Forgot Password Modal -->
<div class="modal hide fade" id="forgot-password-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3> Password Recovery </h3>
  </div>
  <center>
  <form name="forgot_password" id="forgot_password" action="{{ url_for('signin') }}" class="navbar-form form-inline" method="Post">
      {{ forgot_form.csrt_token }}
  <div class="modal-body">

    
      <fieldset>
        {{ forgot_form.hidden_tag() }}
            

            {% from "macro/_formhelpers.html" import render_field %}
            <div class="control-group">
                
                  <div class="controls">
                         {{ forgot_form.email.label }}                       
                        
                        {{ forgot_form.email(id='email',class='form-control required span5',placeholder="Enter your Email Address", autocomplete=True ) }}
                        {% if forgot_form.email.errors %}
                        <ul class="errors">
                            {% for error in forgot_form.email.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
            </div>
     
  </div>
  <div class="modal-footer">
    
    <div class="control-group">
      <div class="controls">
        <a href="#" class="btn" class="close" data-dismiss="modal">Close</a>
        <button type="submit" id="forgot_password" class="btn btn-primary" data-loading-text="Sending...">Recover</button>
      </div>
    </div>
  </div>
  </fieldset>

</div>
</form>
</center>

