<title>Eventus | Events Never been so Interesting</title>
{% extends "base_index.html" %}
{% block style_block %}
  <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-22043294-2', 'gcdc2013-eventus.appspot.com');
      ga('send', 'pageview');

    </script>
    <!-- End Google Analytics -->
  <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
 <link href="{{ url_for('static', filename='bootstrap/css/stylish-portfolio.css') }}" rel="stylesheet">

  <style type="text/css">

  .indexbg {
    background-color: #C62D2D ;
  }
  </style>
{% endblock %}

{% block content %}	    
  


      <!-- Full Page Image Header Area -->
          <div id="top" class="header">
            <div class="vert-text">
              <div class="span12">
                <div class="span3"></div>

              <div class="span7"style="width:100%;background:#c1c1c1;opacity:.9;padding:10px 10px 10px 10px;">
              <h1>Eventus </h1>

              <h3 style ="color:purple;background-color:"><em>We</em> Help To make Great Events, <em>You</em> Make Them Better</h3>
              <center>
                {% if g.user.is_authenticated() %}    
                  Welcome
                {% else %}
                <p><a href="/help" class="btn btn-default btn-lg" role="button">Learn more &raquo;</a> <a href="{{ url_for('signin') }}" class="btn btn-success btn-lg" role="button">Sign in &raquo;</a></p>
                {% endif %}
              </center>
              <a href="/events" class="btn btn-primary btn-lg">Go to your event</a>
            </div>
            </div>
            </div>
          </div>
          <!-- /Full Page Image Header Area -->
      
        <p></p>
			









       <!-- Intro -->
          <div id="about" class="intro">
            <div class="container">
          
              <div class="row">
                
                <div class="span6 offset3 text-center">
                  <h2>Now your Temporary Social Netowork in your hand </h2>
                  <p class="lead">Get connected to everyone and be the part of the event till the time of event without sharing your privacy details.</p>
                </div>
            
              </div>
            </div>
          </div>
          <!-- /Intro -->
        
          <!-- Services -->
          <div id="services" class="services">
            <div class="container">
          <div class"span12">
              <div class="row">
                <div class="span4 offset4 text-center">
                  <h2>Our Features</h2>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="span2 offset2 text-center">
                  <div class="service-item">
                    <i class="service-icon icon-pencil"></i>
                    <h4>Create Events/Team Events</h4>
                    <p>Create fabulous team events, conferences, workshops, parties and get down the event.Cheers ! 
                  </div>
                </div>
                <div class="span2 text-center">
                  <div class="service-item">
                    <i class="service-icon icon-group"></i>
                    <h4>Get involved in the Event </h4>
                    <p> Register yourself in to the event and get connected to the people in the event through public boards, private boards, open feedbacks. </p>
                  </div>
                </div>
                
                <div class="span2 text-center">
                  <div class="service-item">
                    <i class="service-icon icon-dashboard"></i>
                    <h4>Get the real time scoreboards </h4>
                    <p> Get the real time score boards application for the team events.</p>
                   </div>
                </div>
                <div class="span2 text-center">
                  <div class="service-item">
                    <i class="service-icon icon-key"></i>
                    <h4>Maintain your privacy</h4>
                    <p>We've been voted the best pencil sharpening service for 10 consecutive years. If you have a pencil that feels dull, we'll get it sharp!</p>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <!-- /Services -->

          <!-- Callout -->
          <div class="callout">
            <div class="vert-text">
              <h1>Enjoy the awesomeness of the Events</h1>
              <h4>Get connected to every one in the events</h4>
              
            </div>
          </div>
          <!-- /Callout -->

          <!-- Portfolio -->
          <div id="portfolio" class="portfolio">
            <div class="container">
          <div class="span12">
              <div class="row">
                <div class="span4 offset4 text-center">
                  <h2>Our Work</h2>
                  <center>
                  <h5 class="vert-text" > A short youtube video what the app do </h5>
                  </center>
                  <hr>

                </div>
              </div>
              <div class="row">
                
    
            <div class="span3"> </div>
            <div class="span6">
              <iframe width="540px" height="300px"
          src="http://www.youtube.com/embed/A3LJal2t2p0" alternate="nothing">
              </iframe>


            </div>

          </div>
              </div>
            </div>
            </div>
          </div>
          <!-- /Portfolio -->

           <!-- Callout1 -->
          <div class="callout1">
            <div class="vert-text">
              
              
            </div>
          </div>
          <!-- /Callout1 -->

    
  
		  
		<!-- Add any content here like intro video , testimonials , how to use Help doc links, Support , who is using ETC -->		
		      
      </div>

      


{% endblock %}	
    

