{% extends 'base.html' %}
{% import 'macro/error.html' as forms %}
{% block title %} Post Something | Eventus {% endblock %}
{% block style_block %}
  
  <style type="text/css">
    .background {
       background-color: #F3F3F3;
      }
    p.error {
        color: red;
    }
  </style>
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-select.css') }}" rel="stylesheet" />
  
{% endblock %}
{% block content %}
    
        
    
    

<h2>Your seat reservations (<span data-bind="text: seats().length"></span>)</h2>
<button class="btn btn-deffault" data-bind="click: addSeat, enable: seats().length < 5">Reserve another seat</button>
<table>
    <thead><tr>
        <th>Passenger name</th><th>Meal</th><th>Surcharge</th><th></th>
    </tr></thead>
    <!-- Todo: Generate table body -->
    <tbody data-bind="foreach: seats">
        <tr>
            <td><input data-bind="value: name" /></td>
            <td><select data-bind="selectPickerOptions: { options: $root.availableUsers, value: meal, optionsText: 'Name' }" data-live-search="true" ></select> </td>

            <td><input data-bind="value: formattedPrice"></td>
            <td><a href="#" data-bind="click: $root.removeSeat">Remove</a></td>
        </tr>
    </tbody>
</table>
<h3 data-bind="visible: totalSurcharge() > 0">
    Total surcharge: $<span data-bind="text: totalSurcharge().toFixed(2)"></span>
</h3>



    
    <select class="selectpicker" data-live-search="true" multiple>
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
        
    </select>

    <select class="selectpicker" data-live-search="true" multiple>
        {% for post in post_db %}
        <option>{{post.poster}}</option>
        {% endfor %}
        
    </select>

    <select data-bind="selectPicker: true">
    <option>Option 1</option>
    <option>Option 2</option>
    </select>


    
    
<ul data-bind="foreach: allusers, visible: allusers().length > 0">
        <div class="well" >
            <p data-bind="text: about_me"></p>
            <p data-bind="text: email"></p>
            <p data-bind="text: uname"></p>
            <p data-bind="text: uuid"></p></a>
        </div>
    </ul>
    
<select data-bind="options: allusers,  optionsText: 'uname' " data-live-search="true" multiple></select>

<select  class="selectpicker" data-bind="options: allusers,  optionsText: 'uname' "  data-live-search="true" ></select>

<select data-bind="options: allusers,  optionsText: 'uname', optionsValue: 'uuid' " ></select>

    

<select data-live-search="true" multiple="true" data-bind="selectPicker: selectPicking, selectPickerOptions: { options: allusers, optionsText: 'uname', optionsValue: 'uuid', click: $root.canCheck, selectedOptions: 'iselected'  }"   ></select>

<select class="combobox">
    {% for post in post_db %}
        <option>{{post.poster}}</option>
        {% endfor %}
</select>
                
{% block tail_script %}

<script src="{{ url_for('static', filename='bootstrap/js/knockout.validation.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-formhelpers.min.js') }}"></script>

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-buttons.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/jquery.validate.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/additional-methods.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-select.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-switch.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-typeahead.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-fileupload.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-combobox.js') }}"></script>


<!-- <script src="{{ url_for('static', filename='bootstrap/js/underscore.js') }}"></script> -->
<script type="text/javascript"> 
 $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
 // This is a simple *viewmodel* - JavaScript that defines the data and behavior of your UI

$(document).ready(function () {
    
    // $('.selectpicker').selectpicker();

    $('bfh-selectbox').bfhselectbox('toggle');
    $('.combobox').combobox();

    (function () {
        MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
        if (!MutationObserver) return;
        console.log ("running select picker init");
        $('.selectpicker').selectpicker();
        var observer = new MutationObserver(function (mutation, observer) {
            console.log("In mutation observer:",mutation,observer);
            $('.selectpicker').selectpicker('refresh');
        });
        observer.observe($(".selectpicker")[0], 
                         {
                             subtree:true,
                             attributes:true,
                             attributeFilter: ['value', 'disabled']
                         });
    })();

    /*ko.bindingHandlers.dropdown = {
    init: function (element, valueAccessor, allBindingsAccessor) {
       var options = allBindingsAccessor().dropdownOptions|| {};

       $(element).selectpicker(options);

        ko.utils.registerEventHandler(element, "change", function () {
            $(element).selectpicker('refresh');
        });

        ko.utils.domNodeDisposal.addDisposeCallback(element, function () {
              // TODO: destroy method for selectpicker
              //$(element).selectpicker("destroy");
        });
    },
    update: function (element, valueAccessor) {
        $(element).selectpicker('refresh');
    }
    };

    ko.bindingHandlers.selectPicker = {
        init: function (element, valueAccessor, allBindingsAccessor) {
            if ($(element).is('select')) {
                if (ko.isObservable(valueAccessor())) {
                    ko.bindingHandlers.value.init(element, valueAccessor, allBindingsAccessor);
                }
                $(element).selectpicker();
            }
        },
        update: function (element, valueAccessor, allBindingsAccessor) {
            if ($(element).is('select')) {
                var selectPickerOptions = allBindingsAccessor().selectPickerOptions;
                if (typeof selectPickerOptions !== 'undefined' && selectPickerOptions !== null) {
                    var options = selectPickerOptions.options,
                        optionsText = selectPickerOptions.optionsText,
                        optionsValue = selectPickerOptions.optionsValue,
                        optionsCaption = selectPickerOptions.optionsCaption;
                    if (ko.utils.unwrapObservable(options).length > 0) {
                        ko.bindingHandlers.options.update(element, options, ko.observable({ optionsText: optionsText, optionsValue: optionsValue, optionsCaption: optionsCaption }));
                    }
                }
                if (ko.isObservable(valueAccessor())) {
                    ko.bindingHandlers.value.update(element, valueAccessor);
                }
                $(element).selectpicker('refresh');
            }
        }
    };
    */



    
});

  
ko.bindingHandlers.selectPicker = {
        init: function (element, valueAccessor, allBindingsAccessor) {
            if ($(element).is('select')) {
                if (ko.isObservable(valueAccessor())) {
                    if ($(element).prop('multiple') && $.isArray(ko.utils.unwrapObservable(valueAccessor()))) {
                        // in the case of a multiple select where the valueAccessor() is an observableArray, call the default Knockout selectedOptions binding
                        ko.bindingHandlers.selectedOptions.init(element, valueAccessor, allBindingsAccessor);
                    }
                    else {
                        // regular select and observable so call the default value binding
                        ko.bindingHandlers.value.init(element, valueAccessor, allBindingsAccessor);
                    }
                }
                $(element).addClass('selectpicker').selectpicker();
            }
        },
        update: function (element, valueAccessor, allBindingsAccessor) {
            if ($(element).is('select')) {
                var selectPickerOptions = allBindingsAccessor().selectPickerOptions;
                if (typeof selectPickerOptions !== 'undefined' && selectPickerOptions !== null) {
                    var options = selectPickerOptions.options,
                        optionsText = selectPickerOptions.optionsText,
                        optionsValue = selectPickerOptions.optionsValue,
                        optionsCaption = selectPickerOptions.optionsCaption,
                        isDisabled = selectPickerOptions.disabledCondition || false,
                        resetOnDisabled = selectPickerOptions.resetOnDisabled || false;
                    if (ko.utils.unwrapObservable(options).length > 0) {
                        // call the default Knockout options binding
                        ko.bindingHandlers.options.update(element, options, ko.observable({ optionsText: optionsText, optionsValue: optionsValue, optionsCaption: optionsCaption }));
                    }
                    if (isDisabled && resetOnDisabled) {
                        // the dropdown is disabled and we need to reset it to its first option
                        $(element).selectpicker('val', $(element).children('option:first').val());
                    }
                    $(element).prop('disabled', isDisabled);
                }
                if (ko.isObservable(valueAccessor())) {
                    if ($(element).prop('multiple') && $.isArray(ko.utils.unwrapObservable(valueAccessor()))) {
                        // in the case of a multiple select where the valueAccessor() is an observableArray, call the default Knockout selectedOptions binding
                        if ($(element) <= 2 )
                            ko.bindingHandlers.selectedOptions.update(element, valueAccessor);
                    }
                    else {
                        // call the default Knockout value binding
                        ko.bindingHandlers.value.update(element, valueAccessor);
                    }
                }

                $(element).selectpicker('refresh');
            }
        }
    };




function AllUsers(data, Selected){
        this.about_me = ko.observable(data.about_me);
        this.email = ko.observable(data.email);
        this.uname = ko.observable(data.uname);
        this.uuid = ko.observable(data.uuid);
        this.iselected = ko.observable(Selected);
        this.everyuser = [
        {aboutMe: this.about_me(), email: this.email(), name: this.uname, id: this.uuid()}
        ]

}

// Class to represent a row in the seat reservations grid
function SeatReservation(name, initialMeal) {
    var self = this;
    self.name = name;
    self.meal = ko.observable(initialMeal);
    
    
    self.formattedPrice = ko.computed(function() {
        var uid = self.meal().uid;
        return uid ? "$" + uid.toFixed(2) : "None";        
    });
    
    self.formatPrice = ko.observable(self.formattedPrice());
}

// Overall viewmodel for this screen, along with initial state
function ReservationsViewModel() {
    var self = this;
    self.selectPicking = ko.observableArray();
    self.allusers = ko.observableArray([]);
    self.copyArray = ko.observable(self.selectPicking());
    // Non-editable catalog data - would come from the server
    self.availableUsers = [
        { Name: "Test", uid: 5629499534213120 },
        { Name: "Premium (lobster)", uid: 34.95 },
        { Name: "Ultimate (whole zebra)", uid: 290 }
    ];    

    self.selectedItems = ko.computed(function(){
        return ko.utils.arrayFilter(self.allusers(), function(item){
            return item.iselected() === true;
        });
    });



    // Editable data
    self.seats = ko.observableArray([
        new SeatReservation("Steve", self.availableUsers[0]),
        new SeatReservation("Bert", self.availableUsers[0])
    ]);
    
    self.addSeat = function() {
        self.seats.push(new SeatReservation("",self.availableUsers[0]));
    }
    
    self.removeSeat = function(seat) { self.seats.remove(seat) }
    
    self.totalSurcharge = ko.computed(function() {
       var total = 0;
       for (var i = 0; i < self.seats().length; i++)
           total += self.seats()[i].meal().uid;
       return total;
    });

    $.getJSON('/users', function (json) {
        var t = $.map(json.users, function(item) {
            console.log("Something",item);
            
            return new AllUsers(item, false);
        });
        self.allusers(t);
    });

    self.canCheck = function(item){
        var _canCheck = self.selectedItems().length < 2;
        if (_canCheck){
            // If it can check then just toggle
            item.Selected(!item.Selected());
            return true;
        }
        if (!_canCheck && item.Selected()){
            // if it can't then only allow deselection
            item.Selected(false);
            return true;
        }
    }

}




ko.applyBindings(new ReservationsViewModel());






</script>

{% endblock %}


{% endblock %}