<title>Notifcations | Events Never been so Interesting</title>
{% extends "base.html" %}

{% block script %}
  <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-22043294-2', 'gcdc2013-eventus.appspot.com');
      ga('send', 'pageview');

    </script>
    <!-- End Google Analytics -->
{% endblock %}

{% block content %}	    
		<div class="container">
               <p></p>
			<center>
			  {% if g.user.is_authenticated() %}    
          Welcome
        {% else %}
        <p><a href="#" class="btn btn-default btn-lg" role="button">Learn more &raquo;</a> <a href="{{ url_for('signin') }}" class="btn btn-success btn-lg" role="button">Sign in &raquo;</a></p>
        {% endif %}
        <center>
      </div>
      <div class="container">
        {% for notif in notify %}
		    <div class="alert alert-info">
          {{ notif.invitation_message }}
          <div class="pull-right">
            From: {{notif.eventName}}
          </a>
        </div>
				{% endfor %}
		      
      </div>

      


{% endblock %}	
    

