{% extends 'base.html' %}
{% import 'macro/error.html' as forms %}
{% block title %} Post Something | Eventus {% endblock %}
{% block style_block %}
  
  <style type="text/css">
    .background {
       background-color: #F3F3F3;
      }
    p.error {
        color: red;
    }
  </style>
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-select.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-formhelpers.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}
    
        <p>{{ use_db }}</p>
    
    <form id="new_postform" data-bind="submit: addPost" class="navbar-form form-inline" method="post" >
    {{ form.csrf_token }}
        <fieldset>
          {{ form.hidden_tag() }}
            

            {% from "macro/_formhelpers.html" import render_field %}
            <div class="control-group">
                <label for="post">Post</label>
                  <div class="controls">
                                                
                        <p>
                        {{ form.poster(id='postit',class='form-control required ',placeholder="My Post", autocomplete=True , size=3,**{'data-bind': 'value: post', 'data-required' : 'true'})}}</p>
                        {% if form.poster.errors %}
                        <ul class="errors">
                            {% for error in form.poster.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
            </div>
            <div class="control-group">
                <p>postbody<p>
                  <div class="controls">
                                                
                        
                        <p>{{ form.postbody(id='postbody',class='form-control required ',placeholder="Post Description", autocomplete=True , size=3, **{'data-bind': 'value: postbody, valueUpdate: "afterkeydown" ' , 'data-provide' : 'typeahead'} )}}</p>
                        
                    </div>

                    
            </div>
            <div class="control-group">
                <p>post url</p>
                  <div class="controls">
                                                
                        <p>
                        {{ form.posturl(id='posturl',class='form-control required ',placeholder="My Post", autocomplete=True , size=3, **{'data-bind': 'value: posturl'} )}}</p>
                        {% if form.posturl.errors %}
                        <ul class="errors">
                            {% for error in form.posturl.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
            </div>
            
            <div class="control-group">
                    <div class="controls">
                        <br><input type="submit" id="postit"  name="postit" value"poster" class="btn btn-primary" /><br><br>
                    
                    </div>
            </div>
          </fieldset>
    </form>
    <ul data-bind="foreach: posts, visible: posts().length > 0">
        <div class="well" >
            <p data-bind="text: post"></p>
            <p data-bind="text: postbody"></p>
            <p data-bind="text: posturl"></p>
            <p data-bind="text: name"></p></a>
        </div>
    </ul>

    <ul data-bind="foreach: allusers, visible: allusers().length > 0">
        <div class="well" >
            <p data-bind="text: uname"></p>
            
        </div>
    
    </ul>

    <select class="selectpicker">
        <ul data-bind="foreach: allusers, visible: allusers().length > 0">
            <option><p data-bind="text: uname"></p></option>
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
        </ul>
    </select>
    
    <select class="selectpicker" data-live-search="true">
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
        </ul>
    </select>
    
    
        
    <div style="margin: 50px 50px">
    <label for="product_search">Product Search: </label>
    <input id="product_search" type="text" data-provide="typeahead" >
    </div>
    
    <!-- <div id="iv" class="bfh-selectbox" data-name="selectbox3" data-value="12" data-filter="true" >
            <div data-value="1">Option 1</div>
            <div data-value="2">Option 2</div>
            <div data-value="3">Option 3</div>
            <div data-value="4">Option 4</div>
            <div data-value="5">Option 5</div>
          <div data-value="6">Option 6</div>
          <div data-value="7">Option 7</div>
          <div data-value="8">Option 8</div>
          <div data-value="9">Option 9</div>
          <div data-value="10">Option 10</div>
          <div data-value="11">Option 11</div>
          <div data-value="12">Option 12</div>
          <div data-value="13">Option 13</div>
          <div data-value="14">Option 14</div>
          <div data-value="15">Option 15</div>
    </div>

   
    <div id="ie" class="bfh-selectbox" data-name="selectbox3" data-value="1" data-filter="true" data-bind="foreach: allusers, visible: allusers().length > 0">
        <div><li data-bind="text: uname"></div>
       
    </div> -->

    <select data-bind="dropdown: value, dropdownOptions: { data-width: '100%', 'data-size': 5 }">
    </select>

    <select class="selectpicker" data-bind="selectPicker: true, selectPickerOptions: { options: everyuser, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Please select...' } " data-live-search="true">
        <option>Option 1</option>
        <option>Option 2</option>
    </select>
                
    <p>BodyText: <strong data-bind="text: bodytext" /></strong></p>
                
{% block tail_script %}

<script src="{{ url_for('static', filename='bootstrap/js/knockout.validation.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-formhelpers.min.js') }}"></script>

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-buttons.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/jquery.validate.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/additional-methods.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-select.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-switch.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-typeahead.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-fileupload.js') }}"></script>

<!-- <script src="{{ url_for('static', filename='bootstrap/js/underscore.js') }}"></script> -->
<script type="text/javascript"> 
 $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
 // This is a simple *viewmodel* - JavaScript that defines the data and behavior of your UI



  
$(document).ready(function () {
    /*
    $.fn.typeahead.Constructor.prototype.blur = function() {
            var that = this;
            setTimeout(function () { that.hide() }, 250);
    };
    

    
 
        var products = [
            {
                id: 0,
                name: "Deluxe Bicycle",
                price: 499.98
            },
            {
                id: 1,
                name: "Super Deluxe Trampoline",
                price: 134.99
            },
            {
                id: 2,
                name: "Super Duper Scooter",
                price: 49.95
            }
        ];
        
        var that = this; 

        $('#search').typeahead({
            source: function(query, process) {
                var results = _.map(products, function(product) {
                   return product.name;
                });
                process(results);
            },
 
            highlighter: function(item) {
                return "==>" + item + "<==";
            },
 
            updater: function(item) {
                console.log("'" + item + "' selected.");
                return item;
            }
 
        });
    
    */
    $('.selectpicker').selectpicker();

    $('#iv').bfhselectbox('toggle');


    // $('#ie').bfhselectbox('toggle');

    $('#postit').typeahead({
        source: [
            { id: 1, name: 'Toronto' },
            { id: 2, name: 'Montreal' },
            { id: 3, name: 'New York' },
            { id: 4, name: 'Buffalo' },
            { id: 5, name: 'Boston' },
            { id: 6, name: 'Columbus' },
            { id: 7, name: 'Dallas' },
            { id: 8, name: 'Vancouver' },
            { id: 9, name: 'Seattle' },
            { id: 10, name: 'Los Angeles' }
        ]
        
        });

    function AllUsers(data){
        this.about_me = data.about_me;
        this.email = data.email;
        this.uname = data.uname;
        this.uuid = data.uuid;

    }

    var allusers = new Array();
    var usering = new Array();

    $.getJSON('/users', function (json) {
        var t = $.map(json.users, function(item) {
            console.log("Something",item);
            usering.push(item);
            return new AllUsers(item);
        });

        allusers(t);
        

        /*
        var about_me = json.users[i].about_me;
        console.log('about_me : ', about_me);
            
        var email = json.users[i].email;
        console.log('email : ', email);
        
        var uname = json.users[i].uname;
        console.log('uname : ', uname);

        var uuid = json.users[i].uuid;
        console.log('uuid : ', uuid);
        */
        
    });



    $('#posturl').typeahead({
        ajax: usering
    });
    
});



function Post(data) {
    this.name = ko.observable(data.name);
    this.post = ko.observable(data.post);
    this.postbody = ko.observable(data.postbody);
    this.posturl = ko.observable(data.posturl);
}

function AllUsers(data){
        this.about_me = ko.observable(data.about_me);
        this.email = ko.observable(data.email);
        this.uname = ko.observable(data.uname);
        this.uuid = ko.observable(data.uuid);
        this.everyuser = [
        {aboutMe: this.about_me(), email: this.email(), name: this.uname, id: this.uuid()}
        ]

}

function PostViewModel() {
    var self = this;
    self.currentView = ko.observable();
    self.posts = ko.observableArray([]);
    self.post = ko.observable().extend({required: true});
    self.postbody = ko.observable().extend({required: true});
    self.posturl = ko.observable().extend({required: true});
    self.allusers= ko.observableArray([]);
    
    self.gert = [
        { mealName: "Standard (sandwich)", price: 0 },
        { mealName: "Premium (lobster)", price: 34.95 },
        { mealName: "Ultimate (whole zebra)", price: 290 }
    ];    

    console.log(self.post);
       
    self.addPost = function() {
        if ((self.post() && self.postbody() && self.posturl()) != ""){
            self.save();
        }
        else {
            self.post();
            self.postbody();
            self.posturl()
        }
        self.post("");
        self.postbody("");
        self.posturl("");
        
    };

    $.getJSON('/users', function (json) {
        var t = $.map(json.users, function(item) {
            console.log("Something",item);
            
            return new AllUsers(item);
        });
        self.allusers(t);
    });
    
    $.getJSON('/posts', function(postModels) {
        var t = $.map(postModels.posts, function(item) {
            console.log(item);
            return new Post(item);
        });
        self.posts(t);
    });
    
    self.save = function() {
        return $.ajax({
            url: '/post/new',
            contentType: 'application/json',
            type: 'POST',
            data: JSON.stringify({
                'name': '{{current_user.name}}',
                'post': self.post(),
                'postbody': self.postbody(),
                'posturl': self.posturl(),
                
            }),
            success: function(data) {
                console.log("Pushing to post array");
                self.posts.push(new Post({ name: data.name, post: data.post, postbody: data.postbody, posturl: data.posturl }));
                return;
            },
            error: function() {
                return console.log("Failed");
            }
        });
    };
}

var vm = new PostViewModel();


// enable validation
ko.validation.init();

ko.bindingHandlers.dropdown = {
    init: function (element, valueAccessor, allBindingsAccessor) {
       var options = allBindingsAccessor().dropdownOptions|| {};

       $(element).selectpicker(options);

        ko.utils.registerEventHandler(element, "change", function () {
            $(element).selectpicker('refresh');
        });

        ko.utils.domNodeDisposal.addDisposeCallback(element, function () {
              // TODO: destroy method for selectpicker
              //$(element).selectpicker("destroy");
        });
    },
    update: function (element, valueAccessor) {
        $(element).selectpicker('refresh');
    }
};


ko.bindingHandlers.selectPicker = {
        init: function (element, valueAccessor, allBindingsAccessor) {
            if ($(element).is('select')) {
                if (ko.isObservable(valueAccessor())) {
                    ko.bindingHandlers.value.init(element, valueAccessor, allBindingsAccessor);
                }
                $(element).selectpicker();
            }
        },
        update: function (element, valueAccessor, allBindingsAccessor) {
            if ($(element).is('select')) {
                var selectPickerOptions = allBindingsAccessor().selectPickerOptions;
                if (typeof selectPickerOptions !== 'undefined' && selectPickerOptions !== null) {
                    var options = selectPickerOptions.options,
                        optionsText = selectPickerOptions.optionsText,
                        optionsValue = selectPickerOptions.optionsValue,
                        optionsCaption = selectPickerOptions.optionsCaption;
                    if (ko.utils.unwrapObservable(options).length > 0) {
                        ko.bindingHandlers.options.update(element, options, ko.observable({ optionsText: optionsText, optionsValue: optionsValue, optionsCaption: optionsCaption }));
                    }
                }
                if (ko.isObservable(valueAccessor())) {
                    ko.bindingHandlers.value.update(element, valueAccessor);
                }
                $(element).selectpicker('refresh');
            }
        }
    };

// Activates knockout.js
ko.applyBindings(new PostViewModel());


Sammy(function () {
    /*
    **"#:view" means that sammy takes whatever is after the hash tag 
    **and applies it to the value of "this.params.view"
    */
    this.get('#:view', function () {
        //Set currentView on your view model
        vm.currentView(this.params.view);
    });
}).run('');//
console.log(PostViewModel.isValid());

/*
var FormHelpers = {
            validate: function (form, evt) {
                // Form validation for modal dialog
                var postbody = form.find('#body').val();
                
                if (!(postbody)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#body', 'Name is required', 'right');
                }
                
            },
            init: function () {
                var self = this;
                var example_form = $('#new_postform');
                example_form.on('submit', function (evt) {
                    self.validate(example_form, evt)
                });
            }
        };
        $(document).ready(function() {
            FormHelpers.init();
        });



*/




</script>

{% endblock %}


{% endblock %}