{% extends 'base.html' %}
{% import 'macro/error.html' as forms %}
{% block title %} Post Something | Eventus {% endblock %}
{% block style_block %}
  
  <style type="text/css">
    .background {
       background-color: #F3F3F3;
      }
    p.error {
        color: red;
    }
  </style>
{% endblock %}
{% block content %}
    
        <p>{{ use_db }}</p>
    
    <form action="{{ url_for('post_it') }}" class="navbar-form form-inline" method="post" id="new_postform">
    {{ form.csrf_token }}
        <fieldset>
          {{ form.hidden_tag() }}
            

            {% from "macro/_formhelpers.html" import render_field %}
            <div class="control-group">
                <p>{{ form.poster.label }}</p>
                  <div class="controls">
                                                
                        <p>
                        {{ form.poster(id='post',class='form-control required ',placeholder="My Post", autocomplete=True , size=3,**{'data-bind': 'value: bodyte'})}}</p>
                        {% if form.poster.errors %}
                        <ul class="errors">
                            {% for error in form.poster.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
            </div>
            <div class="control-group">
                <p>{{ form.postbody.label }}<p>
                  <div class="controls">
                                                
                        
                        <p>{{ form.postbody(id='postbody',class='form-control required ',placeholder="Post Description", autocomplete=True , size=3,)}}</p>
                        
                    </div>

                    
            </div>
            <div class="control-group">
                <p>{{ form.posturl.label }}</p>
                  <div class="controls">
                                                
                        <p>
                        {{ form.posturl(id='post',class='form-control required ',placeholder="My Post", autocomplete=True , size=3)}}</p>
                        {% if form.posturl.errors %}
                        <ul class="errors">
                            {% for error in form.posturl.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
            </div>
            <div class="control-group">
            <div class="controls">
                        {{ form.sdate.label }}
                        {{ form.sdate(id="est", class="required", formatString="MM/DD/YYYY") }}
                        {% if form.sdate.errors %}
                        <ul class="errors">
                            {% for error in form.sdate.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
            </div>
            <div class="control-group">
            <div class="controls">
                        {{ form.edate.label }}
                        {{ form.edate(id="est", class="required", formatString="MM/DD/YYYY") }}
                        {% if form.edate.errors %}
                        <ul class="errors">
                            {% for error in form.edate.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
            </div>
        </div>
            <div class="control-group">
                    <div class="controls">
                        <br><input type="submit" id="postit"  name="postit" value"poster" class="btn btn-primary" /><br><br>
                    
                    </div>
            </div>
          </fieldset>
    </form>
    <div class="controls">
 <!-- <p>Post: <input data-bind="value: bodyte" class="form-control" name="posts" /></p> -->
                    </div>
                    <p>BodyText: <strong data-bind="text: bodytext" /></strong></p>
                <p>{{ current_user }}</p>

{% block tail_script %}
<script src="{{ url_for('static', filename='bootstrap/js/jquery.validate.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/additional-methods.js') }}"></script>
<script type="text/javascript">
 $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
 // This is a simple *viewmodel* - JavaScript that defines the data and behavior of your UI
function AppViewModel() {
    this.bodyte = ko.observable();
    this.bodytext = ko.computed(function(){
        return this.bodyte();

    }, this);
    
}

// Activates knockout.js
ko.applyBindings(new AppViewModel());

/*
var FormHelpers = {
            validate: function (form, evt) {
                // Form validation for modal dialog
                var postbody = form.find('#body').val();
                
                if (!(postbody)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#body', 'Name is required', 'right');
                }
                
            },
            init: function () {
                var self = this;
                var example_form = $('#new_postform');
                example_form.on('submit', function (evt) {
                    self.validate(example_form, evt)
                });
            }
        };
        $(document).ready(function() {
            FormHelpers.init();
        });



*/

$(document).ready(function () {



$('#new_postform').validate({
    rules: {
        post: {
            minlength: 2,
            required: true
        }
        
    },
    highlight: function (element) {
        $(element).parent().css('border-color','red');
        $(element).text('Please type some post').closest('.control-group').removeClass('success').addClass('error');
        
    },
    success: function (element) {
        element.text('OK!').addClass('valid')
            .closest('.control-group').removeClass('error').addClass('success');
    }
});
});


</script>

{% endblock %}


{% endblock %}
