{% extends 'base.html' %}
{% import 'macro/error.html' as forms %}
{% block title %} Post Something | Eventus {% endblock %}
{% block style_block %}
  
  <style type="text/css">
    .background {
       background-color: #F3F3F3;
      }
    p.error {
        color: red;
    }
  </style>
{% endblock %}
{% block content %}
    
        <p>{{ use_db }}</p>
    
    <form id="new_postform" action="{{ url_for('post_it') }}" data-bind="submit: addPost" class="navbar-form form-inline" method="post" >
    {{ form.csrf_token }}
        <fieldset>
          {{ form.hidden_tag() }}
            

            {% from "macro/_formhelpers.html" import render_field %}
            <div class="control-group">
                <p>Post</p>
                  <div class="controls">
                                                
                        <p>
                        {{ form.poster(id='post',class='form-control required ',placeholder="My Post", autocomplete=True , size=3,**{'data-bind': 'value: post', 'data-required' : 'true'})}}</p>
                        {% if form.poster.errors %}
                        <ul class="errors">
                            {% for error in form.poster.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
            </div>
            <div class="control-group">
                <p>postbody<p>
                  <div class="controls">
                                                
                        
                        <p>{{ form.postbody(id='postbody',class='form-control required ',placeholder="Post Description", autocomplete=True , size=3, **{'data-bind': 'value: postbody'} )}}</p>
                        
                    </div>

                    
            </div>
            <div class="control-group">
                <p>post url</p>
                  <div class="controls">
                                                
                        <p>
                        {{ form.posturl(id='posturl',class='form-control required ',placeholder="My Post", autocomplete=True , size=3, **{'data-bind': 'value: posturl'} )}}</p>
                        {% if form.posturl.errors %}
                        <ul class="errors">
                            {% for error in form.posturl.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    
            </div>
            
            <div class="control-group">
                    <div class="controls">
                        <br><input type="submit" id="postit" onClick="" name="postit" value"poster" class="btn btn-primary" /><br><br>
                    
                    </div>
            </div>
          </fieldset>
    </form>
    <ul data-bind="foreach: posts, visible: posts().length > 0">
        <div class="well">
            <p data-bind="text: post"></p>
            <p data-bind="text: postbody"></p>
            <p data-bind="text: posturl"></p>
        </div>
    </ul>
    
        {% for posts in post_db %}
        <ul>
            <div class="well">
                <p>{{ posts.poster }}</p>
                <p>{{ posts.postbody }}</p>
                <p>{{ posts.posturl }}</p>
            </div>
        </ul>
        {% endfor %}
 
    

                
    <p>BodyText: <strong data-bind="text: bodytext" /></strong></p>
                
{% block tail_script %}
<script src="{{ url_for('static', filename='bootstrap/js/jquery.validate.js') }}"></script> 
<script src="{{ url_for('static', filename='bootstrap/js/additional-methods.js') }}"></script> 
<!-- <script src="{{ url_for('static', filename='bootstrap/js/knockout.validate.js') }}"></script> -->
<script type="text/javascript">
 $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
 // This is a simple *viewmodel* - JavaScript that defines the data and behavior of your UI

$(document).ready(function () {



$('#new_postform').validate({
    rules: {
        post: {
            minlength: 2,
            required: true
        }
        
    },
    highlight: function (element) {
        $(element).parent().css('border-color','red');
        $(element).text('Please type some post').closest('.control-group').removeClass('success').addClass('error');
        
    },
    success: function (element) {
        element.text('OK!').addClass('valid')
            .closest('.control-group').removeClass('error').addClass('success');
    }
});
});

function Post(data) {
    this.post = ko.observable(data.post);
    this.postbody = ko.observable(data.postbody);
    this.posturl = ko.observable(data.posturl);
    
}

function PostViewModel() {
    var self = this;
    self.posts = ko.observableArray([]);
    self.post = ko.observable().extend({ required :true });
    self.postbody = ko.observable();
    self.posturl = ko.observable();
    

    console.log(self.post)
       
    self.addPost = function() {
        self.save();
        self.post("");
        self.postbody("");
        self.posturl("");
        
    };

    $.getJSON('/posts', function(postModels) {
        var t = $.map(postModels.posts, function(item) {
            return new Post(item);
        });
        self.posts(t);
    });

    self.save = function() {
        return $.ajax({
            url: '/post/new',
            contentType: 'application/json',
            type: 'POST',
            data: JSON.stringify({
                'post': self.post(),
                'postbody': self.postbody(),
                'posturl': self.posturl(),
                
            }),
            success: function(data) {
                console.log("Pushing to post array");
                self.posts.push(new Post({ post: data.post, postbody: data.postbody, posturl: data.posturl }));
                return;
            },
            error: function() {
                return console.log("Failed");
            }
        });
    };
}





// Activates knockout.js
ko.applyBindings(new PostViewModel());

/*
var FormHelpers = {
            validate: function (form, evt) {
                // Form validation for modal dialog
                var postbody = form.find('#body').val();
                
                if (!(postbody)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#body', 'Name is required', 'right');
                }
                
            },
            init: function () {
                var self = this;
                var example_form = $('#new_postform');
                example_form.on('submit', function (evt) {
                    self.validate(example_form, evt)
                });
            }
        };
        $(document).ready(function() {
            FormHelpers.init();
        });



*/




</script>

{% endblock %}


{% endblock %}