
{% extends 'base.html' %}
{% block title %}{{user.name}} Profile | Eventus {% endblock %}
{% block style_block %}
	
	
{% endblock %}
{% block content %}
	
	<div class="container theme-showcase">
	<div class="row">
			
		<div class="col-sm-3 background" >
  		
  			<img src="{{user.avatar(128)}}">
        <p>{{user.name}}</p>
        {% if g.user.id == euid %}
  			<button class="btn btn-default" data-toggle="Edit Your Profile Data" title="Edit Your Profile Data">Edit Profile</button> <br><br>
        {% else %}
  		  	<button class="btn btn-success" data-toggle="Edit Your Profile Data" title="Edit Your Profile Data">Follow</button> <br><br>
  		  	<button class="btn btn-danger" data-toggle="Edit Your Profile Data" title="Edit Your Profile Data">Unfollow</button> <br>
        {% endif %}
        
        <p>{{user.manager}}</p>
        <p>{{user.username}}</p>
        
		</div>
		<div class="col-sm-9">
		<ul class="nav nav-tabs">
  				<li class="active">
    				<a href="#posts" data-toggle="tab">Posts</a>
  		</li>
 	 	<li><a href="#favourites" data-toggle="tab">Favourites</a></li>
  		<li><a href="#events" data-toggle="tab">Events</a></li>
  		<li><a href="#followers" data-toggle="tab">Followers</a></li>
  		<li><a href="#following" data-toggle="tab">Following</a></li>
		</ul>
		<div class="tab-content">
		<div class="tab-pane active" id="posts">Heheh</div>
		<div class="tab-pane" id="favourites">oheheh</div>
		<div class="tab-pane" id="events">
			{% if not results %}
				<div class="alert alert-info">
        		<strong>{{user.name}}</strong> You Have not Created any Events Yet.
      			</div>
      			<p> Start by Creating your first event <a class="btn btn-primary" href="{{ url_for('create_event') }}" role="button">Create an Event</a> </p> 
			
			{% else %}
			
			{% for event_list in results %}
			    <div class="panel panel-default">
    			<div class="panel-heading">
     			<h3 class="panel-title">{{ event_list.name }}</h3>
    			</div>
    			<div class="panel-body">
        			{{ event_list.description }}
    			</div>
				</div>       
			{% endfor %}
			
			{% endif %}

		</div>
		<div class="tab-pane" id="followers">
			<div class="row">
  				<div class="span1">F1</div>
  				<div class="span1">F2</div>
  				<div class="span1">F3</div>
  				<div class="span1">F1</div>
  				<div class="span1">F2</div>
  				<div class="span1">F3</div>
  				<div class="span1">F1</div>
  				<div class="span1">F2</div>
  				<div class="span1">F3</div>
			</div>

		</div>
		<div class="tab-pane" id="following">
			<div class="row">
  				<div class="span1">F1</div>
  				<div class="span1">F2</div>
  				<div class="span1">F3</div>
  				<div class="span1">F1</div>
  				<div class="span1">F2</div>
  				<div class="span1">F3</div>
  				<div class="span1">F1</div>
  				<div class="span1">F2</div>
  				<div class="span1">F3</div>
			</div>

		</div>
		</div>
		</div>
		
  		</div>
  		
	</div>
	<hr>

{% endblock %}
