
{% extends 'base.html' %}

{% block title %}{{user.name}} Profile | Eventus {% endblock %}
{% block style_block %}
	
	
{% endblock %}
{% block content %}
	
	<div class="container theme-showcase">
	<div class="row">
		{% include 'send_message.html' %}	
		<div class="span3 background" >
  		  

  			<img src="{{user.avatar(128)}}" class="img-polaroid" />
        {% if g.user.id == euid %}

  			   <a href="{{ url_for('user_profile_settings' , name = g.user.name, uid=g.user.id )}}" class="btn btn-default" data-toggle="Edit Your Profile Data" title="Edit Your Profile Data">Edit Profile</a> <br><br>
           

        {% elif current_user.is_following(user) %}
  		  	<a href="{{ url_for('unfollow_user', name=user.name, uid=euid) }}" role="button" class="btn btn-danger" data-toggle="Edit Your Profile Data"  title="Unfollow this User">Unfollow</a> <br><br>
            
        {% else %}
  		  	<a href="{{ url_for('follow_user', name=user.name, uid=euid) }}" class="btn btn-success" data-toggle="Edit Your Profile Data"  title="Follow this User">Follow</a> <br><br><br>
            
        {% endif %}
        <h3>{{user.name}}</h3>
        <h5>{{user.email}}</h5>
        {% if current_user.is_following(user) and current_user.has_follower(user) %}

        <a href="#send-message-modal" class="btn btn-info btn-lg" data-toggle="modal">Send Message</a>
        
        {% endif %}
        


        
        
		</div>
		<div class="span9">
		<ul class="nav nav-tabs">
  				<li class="active">
    				<a href="#posts" data-toggle="tab">Posts</a>
  		</li>
 	 	<li><a href="#favourites" data-toggle="tab">Favourites</a></li>
  		<li><a href="#events" data-toggle="tab">Events</a></li>
      <li><a href="#followers" data-toggle="tab">Followers</a></li>
  		<li><a href="#following" data-toggle="tab">Following</a></li>
      {% if g.user.id == euid %}
      <li><a href="#inbox" data-toggle="tab">Inbox</a></li>
      <li><a href="#sent" data-toggle="tab">Sent Messages</a></li>
      {% endif %}

		</ul>
		<div class="tab-content">
		<div class="tab-pane active" id="posts">Heheh</div>
		<div class="tab-pane" id="favourites">Be Strong </div>
		<div class="tab-pane" id="events">
			{% if not results %}
				
            {% if g.user.id == euid %}
            <div class="alert alert-info">
        		<strong>{{user.name}}</strong> You Have not Created any Events Yet.
      			</div>
      			<p> Start by Creating your first event <a class="btn btn-primary" href="{{ url_for('create_event') }}" role="button"><i class="icon-cloud-upload"></i> Create an Event</a> </p> 
            {% else %}
            <div class="alert alert-info">
            </div>
            {% endif %}
			      

			{% else %}
			
			{% for event_list in results %}
          <br>
			    <div class="well-inverse">
    			<div class="panel-heading">
     			<h3 class="panel-title">
            <a href="{{ url_for('event_profile', ename=event_list.name , eid=event_list.key.id() )}}">{{ event_list.name }}</a></h3>
    			</div>
    			<div class="panel-body">
        			{{ event_list.description }}
    			</div>
				</div>
              
			{% endfor %}
			
			{% endif %}

		</div>
    
		<div class="tab-pane" id="followers">
			<div class="row">
          {% for follower in followers %}
            {% if follower.followed_id == user.key.id() %}
            	<div class="span1">
                <br>
                <img src="{{ follower.follower_avatar.string_id() }}" class='img-circle' /><br>
                <a href="/user/{{ follower.follower_name.string_id() }}/{{ follower.follower_id }}" class="btn btn-link">{{ follower.follower_name.string_id() }}</a></div>

            {% endif %}
          {% endfor %}
  				
			</div>

		</div>
		<div class="tab-pane" id="following">

			<div class="row">
          {% for follower in followers %}
            {% if follower.follower_id == user.key.id() %}
  				    <div class="span1">
                <br>

                <img src="{{ follower.followed_avatar.string_id() }}" class='img-circle' /><br>
                <a href="/user/{{ follower.followed_name.string_id() }}/{{ follower.followed_id }}" class="btn btn-link">{{ follower.followed_name.string_id() }}</a></div>
            {% endif %}
          {% endfor %}
  				
			</div>

		</div>

    {% if g.user.id == euid %}
    <div class="tab-pane" id="inbox">
      
        {% for message in inbox %}
          
          <div class="well">
            
          <h4>{{ message.message_title }}</h4>
          <p>{{ message.message_body }}</p>
          <p class="pull-right">{{ message.sent_from.string_id() }}</p>
           </div>
          
        {% endfor %}

     
    <div class="tab-pane" id="sent">
      
        {% for message in inbox %}
          
          <div class="well">

          <h4>{{ message.message_title }}</h4>
          <p>{{ message.message_body }}</p>
          <p class="pull-right">{{ message.sent_to.string_id() }}</p>
          </div>
          
        {% endfor %}

      

    </div>
    {% endif %}
    
		</div>
		</div>
		
  		</div>
  		
	</div>
	<hr>

{% block tail_script %}   

<script src="{{ url_for('static', filename='bootstrap/js/jquery.validate.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/additional-methods.js') }}"></script>
<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$(document).ready(function () {

$('#send_message').validate({
    rules: {
        
        
    },
    
    highlight: function (element) {
        $(element).closest('control-group').removeClass('success').addClass('error');
    },
    success: function (element) {
        element.text('OK!').addClass('valid')
            .closest('.control-group').removeClass('error').addClass('success');
    }
});
});

</script>
{% endblock %}

{% endblock %}
