<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='bootstrap/ico/favicon.png') }} ">

    <title>Uscore | by DC Developers</title>
	<!-- google sign in API
	 https://developers.google.com/+/web/signin/server-side-flow
	 -->
	
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='bootstrap/css/navbar-fixed-top.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- Google Sign in API -->
    <!-- BEGIN Pre-requisites -->
	
  </head>
    <body>
	
	<hr> 
	
    {% include './addables/header.html' %}
       
     
            
     <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
        Enter Python to Execute:
       <form action="/" method="post">
           <input type="text" name="expression" />
           <input type="submit" class="btn btn-lg btn-primary" value="Execute" />
       </form>
       {% with messages = get_flashed_messages() %}
           {% if messages %}
               Results:
               <pre>
                  {% for message in messages %}
                     {{message}}  
                  {% endfor %}
           {% endif %}
        {% endwith %}
      </div>

    </div> <!-- /container -->   
        
     
     
     {% include './addables/footer.html' %}
        
     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='bootstrap/js/jquery.js') }}"></script>
   <!--  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script> -->
   <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }} "></script> -->
   
    </body>


</html>
