{% extends "base.html" %}
{% block title %} {{events.name}} ScoreBoard | Eventus {% endblock %}

{% block style_block %}
  <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-22043294-2', 'gcdc2013-eventus.appspot.com');
      ga('send', 'pageview');

    </script>
    <!-- End Google Analytics -->
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap-combined.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-editable.css') }}" rel="stylesheet">
    <style type="text/css">
      .table-nonfluid {
      width: auto;
      }
    </style>


{% endblock %}


{% block content %}



 <div class= "span12">




        <div class="panel panel-primary">

              <div class="panel-heading">
                 <h3 class="panel-title" style ="color:white;padding :3px 5px 3px 10px;"> {{events.name}} ScoreBoard</h3>
               </div>
               <div class="panel-body">

                <table id="events" class="table table-striped table-hover .table-bordered table-nonfluid">

                	<caption> Scoreboard for all teams in this event </caption>
                  
                

                <tbody>
                	<thead>

                  <tr > 
                    <th> Teams/Scores</th>
                    {% for team in teams %}
                    <th>{{team.teamName}} </th>
                    {% endfor %}


                   </tr>

                   </thead>

                   

                  <tr >
                    <td> Subevent </td>
                    {% for team in teams %}
                    <td><a href="#" data-pk="1">10</a></td>
                    {% endfor %}

                  </tr>
                  
                   

                </tbody>

                <tr class="success" >
                      <td> Total Scores </td>
                      {% for team in teams %}
                      <td></td>
                      {% endfor %}
                      

                </tr>


                </table>


               </div>
        </div>


 </div>
 <center>
 </center>
{% block tail_script %}
  
<script src="{{ url_for('static', filename = 'bootstrap/js/mockjax.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-editable.js') }}"></script>

<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$.fn.editable.defaults.mode = 'inline';

$(document).ready(function() {
    $('#scores').editable();
});
//ajax emulation
$.mockjax({
    url: '/post',
    responseTime: 200
}); 

$('#events a').editable({
    type: 'number',
    name: 'scores',
    url: '/post',
    title: 'Enter username'
});

</script>

{% endblock %}
{% endblock %}