{% import 'macro/error.html' as forms %}

<!-- Send Message Modal -->
<div class="modal hide fade" id="send-message-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3> Send {{user.name}} a Message </h3>
  </div>
  <center>
  <form name="send_message" id="send_message" action="{{ url_for('user_profile', name=user.name, uid=euid) }}" class="navbar-form form-inline" method="Post">
      {{ form.csrt_token }}
  <div class="modal-body">

    
      <fieldset>
        {{ form.hidden_tag() }}
            

            {% from "macro/_formhelpers.html" import render_field %}
            <div class="control-group">
                
                  <div class="controls">
                         {{ form.message_title.label }}                       
                        
                        {{ form.message_title(id='title',class='form-control required span5',placeholder="Subject", autocomplete=True ) }}
                        {% if form.message_title.errors %}
                        <ul class="errors">
                            {% for error in form.message_title.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
            </div>
            <div class="control-group">
                
                  <div class="controls">
                        {{ form.message_title.label }}                        
                        
                        {{ form.message_body(id='body',class='form-control required span5',placeholder="Your Message", autocomplete=True , style="height: 150px;") }}
                        {% if form.message_body.errors %}
                        <ul class="errors">
                            {% for error in form.message_body.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
            </div>



      


    
    
  </div>
  <div class="modal-footer">
    
    <div class="control-group">
      <div class="controls">
        <a href="#" class="btn" class="close" data-dismiss="modal">Close</a>
        <button type="submit" id="send_message" class="btn btn-primary" data-loading-text="Sending...">Send</button>
      </div>
    </div>
  </div>
  </fieldset>

</div>
</form>
</center>

