<title>Sign up | Uscore </title>
{% extends "base.html" %}
{% block style_block %}
	<link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='bootstrap/css/social-buttons.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
	<div class="container theme-showcase">
	<div class="row">
	
		
			<h3><center>Sign Up Uscore</center></h3><br><br>
		<div class="col-sm-6">
  			<form name="signup" class="navbar-form form-inline" action="{{ url_for('signup_action') }}" method="post" >
  				<input type="text" name="username" value="" placeholder="your username" class="form-control"></input><br><br>
  				<input type="text" name="email" value="" placeholder="your email" class="form-control"></input><br><br>
  				<input type="password" name="password" value="" placeholder="your password" class="form-control"></input><br><br>
  				<input type="password" name="confpassword" value="" placeholder="retype password" class="form-control" /><br><br><br>
  				<input type="checkbox" name="remember" value="" class="form-control" style="width: 15px; height: 12px;"/> Remember me
  				<a href="" class="pull-right">forgot password</a><br><br><br>
  				<input type="submit" name="signup_submit" value"Sign Up" class="btn btn-success" />
  				Already a Member<a href="" > Sign in </a>
  			
  			</form>
    			
    			
  			
		</div>
		<div class="col-sm-1">
		</div>
		<div class="col-sm-5">
			<a class="btn btn-block btn-lg btn-google-plus" href="/signin/google/">
        		<i class="icon icon-google-plus"></i>
        			Sign in with Google
      	</a>	
      	<a class="btn btn-block btn-lg btn-google-plus" href="/signin/googleoauth/">
        		<i class="icon icon-google-plus"></i>
        			Sign in with Google plus
      	</a>	
			<a class="btn btn-block btn-lg btn-facebook" href="/signin/facebook/">
        		<i class="icon icon-facebook"></i>
        			Sign in with Facebook
      	</a>	
      	<a class="btn btn-block btn-lg btn-twitter" href="/signin/twitter/">
        		<i class="icon icon-twitter"></i>
        			Sign in with Twitter
      	</a>	
		
		
		</div>
		
		
	</div>
		
  		
  	</div>
  		
	
{% endblock %}



