{% extends "base.html" %}
{% import 'macro/error.html' as forms %}
{% block title %} Sign in | Eventus {% endblock %}
{% block style_block %}
  <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-22043294-2', 'gcdc2013-eventus.appspot.com');
      ga('send', 'pageview');

    </script>
    <!-- End Google Analytics -->
	
{% endblock %}
{% block content %}
	<div class="container theme-showcase">
	<div class="row">
	 
			<h3><center>Sign in Eventus</center></h3><br><br>
			
		<div class="span4">
			
  			<form name="signin" id="signin_form" class="navbar-form form-inline" action="{{ url_for('signin') }}" method="post" accept-charset="utf-8">
  				{{ form.csrf_token }}
				<fieldset>
  				{{ form.hidden_tag() }}
            {% from "macro/_formhelpers.html" import render_field %}
            
            <div class="control-group">
              <label>{{ form.name.label }}</label>
              <div class="controls">
                
                {{ form.name(id='name',class='form-control required span4', placeholder="Enter your name") }}
                {% if form.name.errors %}
                <ul class="errors">
                  {% for error in form.name.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div> 
            </div>
            <div class="control-group">
              <label>{{ form.password.label }}</label>
              <div class="controls">
                
                {{ form.password(id='password',class='form-control required span4',placeholder="Enter Password") }}
                {% if form.password.errors %}
                <ul class="errors">
                  {% for error in form.password.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
            </div><br>
            <p class="control-group">
              <a href="" class="pull-right">forgot password</a>
              {{form.remember_me}} Remember Me </ul>
              
            </p>

            
            
            <div class="control-group">
                    <div class="controls">
                        <br><br>
  								<button type="submit" name="signin_submit" value"Signin" class="btn btn-success" >Sign in</button><br><br>
                  <ul class="pull-right">Not yet Registered<a href="{{ url_for('signup') }}" > Please Sign Up </a></ul>
  								Already a Member <a href="{{ url_for('signin') }}">Sign in</a>

                    </div>
            </div>
  				<!-- <input type="text" name="username" value="" placeholder="your username" class="form-control" /><br><br>
  				<input type="text" name="password" value="" placeholder="your password" class="form-control" /><br><br><br>
  				<input type="checkbox" name="remember" value="" class="form-control" style="width: 15px; height: 12px;"/> Remember me
  				<a href="" class="pull-right">forgot password</a><br><br><br>
  				<input type="submit" name="signin_submit" value"Sign In" class="btn btn-success" /> -->
  				
  				</fieldset>
  			</form>
        
				
    				
		</div>
    
		<div class="span3">

    </div>
		<div class="span5 pull-right">
			<div class="row">
			
        <a class="btn btn-large btn-google-plus" href="/signin/google/">
        		<i class="icon-large icon-google-plus"></i> 
        			Sign in with Google
      	</a><br><br>
      	<a class="btn btn-large btn-google-plus" href="/signin/googleoauth/">
        		<i class="icon-large icon-google-plus"></i> 
        			Sign in with Google plus
      	</a><br><br>
			<a class="btn btn-large btn-facebook" href="/signin/facebook/">
        		<i class="icon-large icon-facebook"></i>
        			Sign in with Facebook
      	</a><br><br>
      	<a class="btn btn-large btn-twitter" href="/signin/twitter/">
        		<i class="icon-large icon-twitter"></i> 
        			Sign in with Twitter
      	</a>	
			</div>
			
		</div>
		
    
		
	</div>
		
  		
  	</div>


{% block tail_script %}   

<script src="{{ url_for('static', filename='bootstrap/js/jquery.validate.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/additional-methods.js') }}"></script>
<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$(document).ready(function () {

$('#signin_form').validate({
    rules: {
        
        
    },
    
    highlight: function (element) {
        $(element).closest('control-group').removeClass('success').addClass('error');
    },
    success: function (element) {
        element.text('OK!').addClass('valid')
            .closest('.control-group').removeClass('error').addClass('success');
    }
});
});

</script>
{% endblock %}


	
{% endblock %}



