<title>Eventus | Events Never been so Interesting</title>
{% extends "base.html" %}

{% block style_block %}

<link href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme-3.min.css') }}" rel="stylesheet">

{% endblock %}


{% block content %}	  





		<div class="container">
        <img src="{{ url_for('static', filename='static/img/favicon.jpg') }}" />
        <h1>Eventus - Events never been so Interesting</h1>
        <p></p>
			<center>
			  {% if g.user.is_authenticated() %}    
          Welcome
        {% else %}
        <p><a href="#" class="btn btn-default btn-lg" role="button">Learn more &raquo;</a> <a href="{{ url_for('signin') }}" class="btn btn-success btn-lg" role="button">Sign in &raquo;</a></p>
        {% endif %}
        <center>
      </div>
      <div class="container">
        HELOOOOOOOOOOOOOOOOOOO
        howoowowowo <br><br>

       <h1>Moment.js here now: <span class="then" data-date="{{date}}" ></span></h1>

       <span class="then" data-date="{{date }}" ></span>

       <h2> {{date}}</h2>
           
           <script src="{{ url_for('static', filename='bootstrap/js/jquery-1.10.2.min.js') }}"></script>
           
           <script>
             $(document).ready(function(){
               var then = $('.then'),
                   date = moment(new Date(then.attr('data-date'))),
                   update = function(){
                              then.html(date.calendar());
                            };
               
               update();
                    
               
               setInterval(update, 60000);
             });
           </script>

        
        <strong>
        {{ date }}
      </strong> <br>

      <div class= "span10">
        <div class="panel panel-primary">
               <div class="panel-heading">
                 <h3 class="panel-title" style ="color:white;padding :3px 5px 3px 10px;">  Panel title</h3>
               </div>
               <div class="panel-body">

                <table class="table table-striped">
                  
                  

                <tbody>

                  <tr> 
                    <th> Teams/Scores</th>
                    <th>Subevent 1 </th>
                    <th>Subevent 2 </th>
                    <th>Subevent 3 </th>
                    <th>Subevent 4 </th>
                    <th>Subevent 5 </th>


                   </tr>


                  <tr>
                    <td>Team 1 </td>
                    <td>10</td>
                    <td>3 </td>
                    <td>14</td>
                    <td>15</td>
                    <td>12</td>

                  </tr>

                   <tr>
                    <td>Team 2 </td>
                    <td>30</td>
                    <td>12 </td>
                    <td>1</td>
                    <td>11</td>
                    <td>5</td>

                  </tr>
                   <tr>
                    <td>Team 3 </td>
                    <td>12</td>
                    <td>15 </td>
                    <td>14</td>
                    <td>16</td>
                    <td>3</td>

                  </tr>

                </tbody>


                </table>


               </div>
        </div>


      </div>

     
		
		<!-- Add any content here like intro video , testimonials , how to use Help doc links, Support , who is using ETC -->		
		      
      </div>



      


{% endblock %}	
    

