{% extends 'base.html' %}
{% block title %} Trending Events | Eventus {% endblock %}
{% block style_block %}
  
  <style type="text/css">
    .background {
       background-color: #F3F3F3;
      }

    .outer {
       border-color: red;
    }
  
  </style>
{% endblock %}
{% block content %}
  
<div class="row pull-right">
<form class="form-search">
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn">Search</button>
</form>
</div>
<br>


{% for event_list in events %}

<div class="panel panel-default outer">
    <div class="panel-heading">
     <h3 class="panel-title">{{ event_list.name }}</h3>
    </div>
    <div class="panel-body">
        <p>{{ event_list.description }}</p><br>
        <ul class="pull-right">
           <img src=" event_list.creator.string_id().avatar(90) " class='img-circle' /><br>
          <a href="/user/{{ event_list.creator.string_id() }}/{{ event_list.creator_id }}/">{{ event_list.creator.string_id() }}</a><br><br>

          


        </ul>
    </div>
</div>                



{% endfor %}
            
{% for e in db_entry %}
     <p>{{e.name.string_id()}}</p>
     
{% endfor %}


{% endblock %}
