<!-- Fixed navbar -->
    <!-- http://twitter.github.io/bootstrap/examples/starter-template.html -->
     <div class="navbar navbar-inverse navbar-fixed-top transition">
       <div class="navbar-inner">
         <div class="container">
           <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="brand" href="/"><b><font size="6" face="Times New Roman">Eventus</font></b></a>
           <div class="nav-collapse collapse">
              
             <ul class="nav pull-right">
              <li><a href="{{ url_for('trending_events') }}"><i class="icon-magnet"></i> Trending Events</a></li>
              <li><a href="{{ url_for('create_event') }}"><i class="icon-cloud-upload"></i> Create an Event</a></li>
              {% if g.user.is_authenticated() %}
              <li><a href="{{ url_for('user_notifications' , name = g.user.name, uid=g.user.id )}}"><i class="icon-bell-alt"></i> Notifications</a></li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{current_user.avatar(20)}}" class="img-circle">  {{current_user.name}}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('user_profile' , name = g.user.name, uid=g.user.id )}}"><i class="icon-user"></i> Profile</a></li>
                  <li><a href="{{ url_for('user_profile_settings', name=g.user.name, uid=g.user.id ) }}"><i class="icon-gear"></i> Settings</a></li>
                  <li><a href="{{ url_for('signout') }}"><i class="icon-signout"></i> Sign out</a></li>
                              
                </ul>
              </li>
       
              {% else %}
                <li><a href="{{ url_for('signup') }}">Sign up</a></li>
                <li><a href="{{ url_for('signin') }}">Sign in</a></li>
                {% endif %} 
             </ul>
           </div><!-- nav-collapse -->
          </div>
         </div>
       </div>
	
    
            