{% macro field_errors(field) %}
  {% for error in field.errors %} 
    <p class="help-block">{{error}}</p>
  {% endfor %} 
{% endmacro %} 

{% macro field_description(field) %}
  {% if field.description %}
    <p class="help-block">{{field.description}}</p>
  {% endif %}
{% endmacro %}

{% macro errors_and_description(field) %}
  {{field_errors(field)}}
  {{field_description(field)}}
{% endmacro %}

{% macro input_field(field, type='text', placeholder='', autocomplete=True) %}
  <div class="form-group {{'has-error' if field.errors else ''}}">
    {{field.label(class='control-label')}}
    {{field(class='form-control', type=type, autocomplete='on' if autocomplete else 'off', placeholder=placeholder, **{'data-bind': 'value: bodyte'} )}}
    {{errors_and_description(field)}}
  </div>
{% endmacro %}

{% macro text_field(field, placeholder='', autocomplete=True) %}
  {{input_field(field, placeholder=placeholder, autocomplete=autocomplete)}}
{% endmacro %}


{% block tail_script %}
<script src="{ url_for('static',filename='bootstrap/js/knockout-2.3.0.js') }"></script>
{% endblock %}